form(action="/AddQuestions" method="POST" enctype="multipart/form-data")
	p!= 'tournament ID'
	input(type="text" name="tournamentID")
	br
	
	p!= 'Question file:'
	input(type="file" name="questions")
	br
	input(type="submit" value="AddQuestionFile")
