//
html
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").
	script.
		//- alert('1');
		var msg = "#{msg}";
	script(src="adminScripts/Running.js")
	//script(src="adminScripts/MoneyTransfer.js")

	h1 Logs!
	br
	a(href="Log" target="_blank") Full logs
	br
	a(href="SpecLogs/Err" target="_blank") SpecLogs
	br
	a(href="Tournaments" target="_blank") Tournaments
	br
	a(href="Stats" target="_blank") Stats
	br
	a(href="SpecLogs/Stats" target="_blank") Log Stats
	br
	br

	a(href=":5010/questions" target="_blank") Moderation

	br
	br
	a(href="MarathonInfo") Marathons

	h2 Tournaments
	///- var msg = "#{msg}";
	p!= 1
	- if(msg)
		p!=JSON.stringify(msg)
	#Running
		p Running
	br
	br
	#Tournaments
		p Total tournaments
	#Games
		table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
			tr
				td
					#1
						p Ping pong
				td
					#2
						p Questions
	br
	label give money to (giveMoneyTo/g.iosebashvili/500)
	br
	label give accelerator to (giveAcceleratorTo/g.iosebashvili/1)
	//form(method="GET" action="giveMoneyTo/g.iosebashvili/500")
		label Login
		input(type="text" name="userID")
						
	//script.
		var tmr = setInterval(GetRunningTournaments, 3000);
		var tmr2 = setInterval(GetTotalTournaments, 3000);
