//
html
	head
	title Tell

	body
		form(action="/notifications/send" method="POST")
			br
			select(name="type")
				option(value="6") Кастом
				option(value="10") Авторегистрация
			br
			label Target
			input(name="target" type="text" autocomplete="on")
			br
			br
			label header
			input(name="header" type="text" autocomplete="on")
			br
			br
			label text
			input(name="text" type="text" autocomplete="on")
			br
			br
			label imageUrl
			input(name="imageUrl" type="text" autocomplete="on")
			
			br
			br
			button Send
