//
mixin drawUsers(message)
	table
		tr
			td login
			td money
			td email
		each user in message
			tr
				td
					a(href="UserInfo/"+user.login) #{user.login}
					//p!= user.login
				td
					p!= user.money
				td
					if user.email
						p!= user.email
					else
						//p!= JSON.stringify(user.social)
						if user.social
							a(target="_blank" href="http://vk.com/id"+user.social.id) VK
html
	head
		title!= title
	body
		include ../templates/tAuth
		- console.log('incoming message Browser:');
		- console.log(message);
		- //console.log(JSON.stringify(message));

		- //p!= JSON.stringify(message);
		- var login = session.login;
		- console.log('Browser login =' + login);
		- //if(login) { alert(login); console.log('login = ' + login); }
		
		- //for (var item in message){
		- //p!= message.length
		-//p!= JSON.stringify(message);
		center
			h1 Users
			+drawUsers(msg)
			a(href='Tournaments')
				Show Tournaments
