.wrapper2 {
  width: 100%;
  /*min-height: 930px;*/
  display: block;
  position: relative;
  
  /*background: #333333;*/
  /*background-image: url("photo-1448485780098-7e0b78781fc1.jpeg");*/
  /*background-size: cover;
  background-position: center center;*/
  padding-bottom: 50px;
  /*padding-top: 70px;*/
}

.btn-std{
  border-radius:4px;
  width:100%;
}

.btn-rd{
  border-radius: 40px;
}
.btn-clean{
  border:1px solid rgba(0,0,0,.08);
  border-bottom-color:rgba(0,0,0,.1);
  text-shadow:0 1px 0 rgba(0,0,1,.1);
  box-shadow: 0 1px 3px rgba(0,0,1,.25), inset 0 1px 0 0 rgba(255,255,255,.15);
}
.btn-d,.btn-d:hover{
  color:#FFF!important;
  background:rgba(0,0,0,.3);
}
.btn-d:focus{
  background: blueviolet;
}

/* Prevent ugly blue glow on chrome and safari */
button{
  outline: none!important;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    /*max-height: 60vh;*/
    /*overflow-y: scroll !important;*/
}

/*.modal-body2 {*/
    /*max-height: 60vh;*/
    /*overflow-y: auto;*/
/*}*/

.wrapper2 footer
{
    /*position: absolute;*/
    z-index: 3;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.wrapper2 footer h3
{
    color: #FFFFFF;
    font-weight: 200;
}

.wrapper2 footer .social-icon
{
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 34px;
    margin: 20px;
}

.wrapper2 footer .social-icon:hover
{
    opacity: 1;
}

.background {
  /*background-image: url('dark_blue.jpg');*/
  /*background: url('http://cdn.pcwallart.com/images/dark-wallpaper-2.jpg');*/
  /*background: url('http://firmusasia.com/img/slide-03.jpg'); */
  /*background: url('slide-03.jpg');*/
  /*background: url('http://wallpaperlayer.com/img/2015/9/dark-wallpaper-2161-2322-hd-wallpapers.jpg');*/
  background: url('dark-wallpaper.jpg');
  
  /* good one! */

  /*background: url('https://images4.alphacoders.com/485/48578.jpg'); */

  /*background-color: #263238;*/

  /*background-image: url('dark_brown.png');*/
}

.acceleratorImage{
  opacity: 0.9;
  border-radius: 3px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.acceleratorImage:hover{
  opacity: 1;
}

.offset{
  margin-top: 20px;
}

.offset-md{
  margin-top: 5px;
  margin-bottom: 15px;
}

.offset-bg{
  margin-top: 25px;
  margin-bottom: 25px;
}

.offset-lg{
  margin-top: 50px;
  margin-bottom: 50px;
}

.purple {
  background-color:#8e44ad;
}

.red {
  background-color:#e74c3c;
  /*background-color:#e51400;*/
}

.yellow {
  background-color: #e3c800;
}

.carrot {
  background-color: #e67e22;
}


.green {
  background-color: #2ecc71;
}

.navbar-my{
  /*margin-top: 25px;*/
}

.btn-overlay{
  display: inline-block;
  position:absolute;
  /*right:50%;*/
  top: 80%;
  width: 120px;
/*  width: 50%;
  margin: 0 auto; */
}



.btn-overlay2{
  /*margin-bottom: -20px;*/
  margin-top: -70px;
  /*position:absolute;
    bottom:20%;*/
    /*right:50%;*/
    /*width:120px;*/
    /*height:30px;*/
}

.center{
  /*margin: 0 auto;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.pack-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 280px;
}

.ctr{
  margin: 0 auto 0;
  text-align: center;
}

.btn-fixed{
  width: 200px;
}

.ratingHead{
  padding-top:15px;
}

.promo{
  width: 100%;
  overflow: hidden;
  border-radius: 4px;


  /*width-m: 280px;*/
  /*height: 200px;*/

  /*background-image: url('img_flowers.jpg');*/
  /*background-size: cover;*/
}

.expandable{
  cursor: pointer;
}

.promo2{
  display: block;
  max-width:520px;
  max-height:300px;
  width: auto;
  height: auto;
}

.ticket-card .body .info
{
    color: #777777;
}
.ticket-card .list-unstyled{
  background: none;
  overflow-X: hidden;
}

.participating
{
  /*background: #CCFF90;*/
  /*background-color: navajowhite;*/
  /*background-color: #FFF176;*/
  /*background-color: #F4FF81;*/
  background-color: #FFECB3;
}

.ticket-card .price .from
{
  color: #777777;
}

.ticket-card .cover img
{
  margin-top: 0px;
}

.ticket-card .body .info .going
{
  float: left;
}

.fit
{
  overflow-X: hidden;
}

.navbar-inverse{
  border-color: transparent;
}

.accelerator
{
  /*height: 400px;*/
  padding-top: 10px;
  padding-bottom: 20px;

  margin-top: 10px;
  margin-bottom: 20px;
}

.ticket-card .body .info .tickets-left
{
  float: right;
}

.balance
{
  /*padding-left: 35px;*/
  color:#FFFFFF;
}

.white
{
  color: #FFFFFF;
}

.black
{
  color: #000000;
}

#vk_comments, #vk_comments iframe, .fb-comments, .fb-comments iframe[style], .fb-comments span, .fb-comments iframe span[style] {
  width: 100% !important;
  /*max-height: 500px;*/
}

#vk_groups, #vk_groups iframe {
  width: 100% !important;
  max-width: inherit;
  /*max-height: 500px;*/
}

.columBio2
{
    border: 10px;
    border-radius: 4px;
    min-height: 26em;
    min-width: 22em;
    margin: 2em 0em;
}

.dataRule2
{
    background: #F7F6F6;
    /*border: 10px;*/
    border-radius: 4px;
    /*margin-top: 2em;*/
    margin-bottom: 2em;
    min-height: 26em;
    margin-left: 0em;
}


.marathon-multipliers
{
  /*background: #F7F6F6;*/
  border-radius:4px; 
  background-color:white;
}

/*.rating
{
  max-width: 280px;
}*/
.wrap-text{
  overflow: hidden;
}
.subscribe
{
  padding-bottom: 40px;
}

.containerdiv { float: left; position: relative; } 
.cornerimage { position: absolute; top: 0; left: 0; } 

.full{
  width: 100%;
}

.card{
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 15px;
/*  border-width: 1px;
  border-color: red;*/
  margin-bottom: 15px;
  width: 100%;
}


.img-wrapper{
  /*  width: 100%;
    text-align: center;*/

  /*      position:relative;
      display:inline-block;
      text-align:center;*/
  /*opacity: .83;*/
  opacity: 1;
  /*opacity: .5;*/
  transition: opacity 0.3s;
  overflow: hidden;
  background-color: black;
}
.img-wrapper:hover{
  opacity: 0.5;
  /*opacity: 1;*/
  overflow: hidden;
  background-color: black;
}

.pack{
  width: 280px;
  float: left;
}

.pack-wrapper{
  opacity: 1;
  overflow: hidden;
  background-color: transparent;
}

.pack-wrapper:hover{
  opacity: 0.5;
  overflow: hidden;
  /*background-color: black;*/
  background-color: transparent;
}

.pack-card{
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 0px;
  /*margin-bottom: 25px;*/
  /*margin-bottom: 15px;*/
  width: 100%;
  padding-right: 0px;
}

.pack-cover{
  border-radius: 50px;
  border-style: solid;
  overflow: hidden;
  background-color: white;

  margin-bottom: 25px;
}

.card-name{
  /*color: white;*/
  font-size: 42px;
}

.card-description{
  /*color: white;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  /*padding-bottom: 20px;*/
  /*padding-top: 20px;*/
  padding: 10px;
  font-size: 21px;

  background-color: white;
  color: black;
  text-align: center;
}

@media (max-width: 360px){
  .marathon-multipliers {
    overflow: hidden;
    margin-left: -20px;
    max-width: 260px;
  }
  .rating-games {
    display: none;
  }
}

@media (max-width: 400px){
  .rating
  {
    /*max-width: 260px;*/
    max-width: inherit;
    /*width: 100%*/
    overflow: hidden;
    margin-left: 0;
  }
  .subscribe
  {
    /*max-width: 260px;*/
    max-width: inherit;
  }
}

.nopaddings {
  padding: 0px;
}

@media (max-width: 430px){
  .rating-acceleratorValue {
    overflow: hidden;
    max-width: 40px;
  }
}

@media (max-width: 470px){
  .killPaddings {
    padding-left: 0px;
    padding-right: 0px;
  }
  .rating-lgn{
    overflow: hidden;
    max-width: 26px;
  }
}

.ticket-card .price{
  float: none;
  text-align: center;
}

.ticket-card .cover{
  margin: 0;
  margin-bottom: 15px;
}

.ticket-card .cover img{
  border-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

@media (min-width: 471px) and (max-width: 650px){
/*  .marathon-multipliers {
    overflow: hidden;
    margin-left: -20px;
    max-width: 350px;
  }*/
  .rating-lgn{
    overflow: hidden;
    max-width: 50px;
  }
  .rating-acceleratorValue {
    overflow: hidden;
    max-width: 80px;
  }
}

.noborder{
  border-radius: 0 !important;
}
/*@media (min-width: 600px) {*/
  /*.border-if-you-can{*/
    /*border-radius: 1000px;*/
  /*}*/
/*}*/

.circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.circle-md{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/*a.link {
  cursor: default;
}*/

/*a {
  cursor: default;
}*/


a.glance {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  /*background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);*/
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
} 
a.glance:active {
  top: 1px;
  box-shadow: none;
}
a.glance:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.btn{
  border: 0;
  border-radius: 300px;
  /*text-transform: uppercase;*/
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}



/*.btn >a {
  color: #f05f40;
}

.*/
/*a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}
*/

.space {
  margin: 50px, 0, 50px, 0;
}

.darker {
  opacity: 0.8;
}

.hero-unit {
  padding: 60px;/* CHANGE PADDING HERE*/
  margin-bottom: 30px; 
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  /*background-color: #eeeeee;  CHANGE BACKGROUND HERE*/
  /*background-image: url('/img/topics/bale.jpg');*/

  background-size: cover;
  /*background-position: center center;*/
  background-repeat:   no-repeat;
  /*background: center center cover no-repeat fixed;*/
  /*background-repeat: no-repeat;*/

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;

  border-radius: 6px;
  border-color: white;
  border-width: 1px;
  /*border-style: solid;*/
}

.freeroll {
  /*background-color: #042E54;*/
  /*background-image: url(/images/20-banner.jpg) no-repeat center;*/
  /*background-image: url("/images/20-banner.jpg");*/
  padding: 30px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-repeat-y: no-repeat;*/
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  /*background-color: rgb(4, 46, 84);*/
  /*background-image: url("http://kloppex.ru/kart/23/gamma_abstrakcii_tekstury_krugi_cveta_bokeh_abstraction_1920x1080.jpg");*/

  position: relative;
  overflow: hidden;
  /*box-shadow: inset rgba(0, 0, 0, .33) 0 20rem 9rem -9rem, inset rgba(0, 0, 0,.25) 0 22rem;*/
}

.freeroll p{
  font-size: 20px;
}
@media (min-width: 700px){
  .freeroll{
    border-radius: 1000px;
  }
}

.league-container {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
}

.league-tab {
  /*margin-right: 20px;*/
  /*width: 310px;*/
  width: 100%;
  height: 350px;
  /*display: inline-block;*/
  /*float: left;*/

  padding-bottom: 15px;
  padding-top: 15px;
}

.circle-input {
  border-radius: 1000px;
  border: 0;
  text-indent: 15px;
  height: 40px;
}

.btn-mid {
  border-radius: 1000px;
  border: 0;
  height: 40px;
}

.clear-focus-border:focus{
  border: none;
}

.shadow{
  box-shadow: inset rgba(0, 0, 0, .13) 0 20rem 9rem -9rem, inset rgba(0, 0, 0,.65) 0 44rem;
  /*box-shadow: inset rgba(0, 0, 0, .33) 0 20rem 9rem -9rem, inset rgba(0, 0, 0,.25) 0 44rem;*/
}

.fadeText{
  text-shadow: 3px 4px 5px #000;
}

/* and (max-width: 650px)*/


/*.carousel-inner > .item > a > img {
    width: 100% !important;
    margin: auto;
}*/



figure {
  border-radius: 700px;
  /*width: 140px;*/
  /*height: 140px;*/
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  margin: 0 0.8em 5em;
  top: -220%;
  transition: top 0.25s cubic-bezier(0, 0.3, 1, 0.7);
  box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.4), 10px 4px 10px -8px rgba(0, 0, 0, 0.2), -10px 4px 10px -8px rgba(0, 0, 0, 0.2);
  background-size: cover;

}
figure img {
  vertical-align: bottom;
  z-index: -5;
  max-width: 100%;
  max-height: 100%;
}
figure:hover {
  top: 320%;
}
figure:before, figure:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
}
figure:before {
  width: 140%;
  top: inherit;
  left: -20%;
  opacity: 0.6;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
  transform: rotate(-20deg);
}
figure:after {
  width: 100%;
  top: 0;
  /*border-radius: 50%;*/
  box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(35% 25%, closest-corner, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}
figure:nth-child(1) {
  /*background-image: url("1.png");*/
  background: '#';
}
figure:nth-child(2) {
  /*background-image: url("2.png");*/
}

section {
  position: absolute;
  width: 100%;
  top: 32%;
  margin: -70px 0;
  box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
}