.wrapper2 {
  width: 100%;
  /*min-height: 930px;*/
  display: block;
  position: relative;
  
  /*background: #333333;*/
  /*background-image: url("photo-1448485780098-7e0b78781fc1.jpeg");*/
  /*background-size: cover;
  background-position: center center;*/
  padding-bottom: 50px;
  /*padding-top: 70px;*/
}

.btn-std{
  border-radius:4px;
  width:100%;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    /*max-height: 60vh;*/
    /*overflow-y: scroll !important;*/
}

/*.modal-body2 {*/
    /*max-height: 60vh;*/
    /*overflow-y: auto;*/
/*}*/

.wrapper2 footer
{
    /*position: absolute;*/
    z-index: 3;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.wrapper2 footer h3
{
    color: #FFFFFF;
    font-weight: 200;
}

.wrapper2 footer .social-icon
{
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 34px;
    margin: 20px;
}

.wrapper2 footer .social-icon:hover
{
    opacity: 1;
}

.background {
  /*background-image: url('dark_blue.jpg');*/
  /*background: url('http://cdn.pcwallart.com/images/dark-wallpaper-2.jpg');*/
  /*background: url('http://firmusasia.com/img/slide-03.jpg'); */
  /*background: url('slide-03.jpg');*/
  /*background: url('http://wallpaperlayer.com/img/2015/9/dark-wallpaper-2161-2322-hd-wallpapers.jpg');*/
  background: url('dark-wallpaper.jpg');
  
  /* good one! */

  /*background: url('https://images4.alphacoders.com/485/48578.jpg'); */

  /*background-color: #263238;*/

  /*background-image: url('dark_brown.png');*/
}

.acceleratorImage{
  opacity: 0.9;
  border-radius: 3px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.acceleratorImage:hover{
  opacity: 1;
}

.offset{
  margin-top: 20px;
}

.offset-md{
  margin-top: 5px;
  margin-bottom: 15px;
}

.navbar-my{
  /*margin-top: 25px;*/
}

.btn-overlay{
  display: inline-block;
  position:absolute;
  /*right:50%;*/
  top:80%;
  width: 120px;
/*  width: 50%;
  margin: 0 auto; */
}



.btn-overlay2{
  /*margin-bottom: -20px;*/
  margin-top: -70px;
  /*position:absolute;
    bottom:20%;*/
    /*right:50%;*/
    /*width:120px;*/
    /*height:30px;*/
}

.center{
  /*margin: 0 auto;*/
}

.offset-bg{
  margin-top: 25px;
  margin-bottom: 25px;
}

.ratingHead{
  padding-top:15px;
}

.img-wrapper{
/*  width: 100%;
  text-align: center;*/

/*      position:relative;
    display:inline-block;
    text-align:center;*/
  /*opacity: .83;*/
  opacity: .9;
}
.img-wrapper:hover{
  opacity: 1;
}
.promo{
  width: 100%;
  overflow: hidden;
  border-radius: 4px;


  /*width-m: 280px;*/
  /*height: 200px;*/

  /*background-image: url('img_flowers.jpg');*/
  /*background-size: cover;*/
}

.promo2{
  display: block;
  max-width:520px;
  max-height:300px;
  width: auto;
  height: auto;
}

.ticket-card .body .info
{
    color: #777777;
}
.ticket-card .list-unstyled{
  background: none;
  overflow-X: hidden;
}

.participating
{
  /*background: #CCFF90;*/
  /*background-color: navajowhite;*/
  /*background-color: #FFF176;*/
  /*background-color: #F4FF81;*/
  background-color: #FFECB3;
}

.ticket-card .price .from
{
  color: #777777;
}

.ticket-card .cover img
{
  margin-top: 0px;
}

.ticket-card .body .info .going
{
  float: left;
}

.fit
{
  overflow-X: hidden;
}

.accelerator
{
  /*height: 400px;*/
  padding-top: 10px;
  padding-bottom: 20px;

  margin-top: 10px;
  margin-bottom: 20px;
}

.ticket-card .body .info .tickets-left
{
  float: right;
}

.balance
{
  padding-left: 35px;
  color:#FFFFFF;
}

.white
{
  color: #FFFFFF;
}

.black
{
  color: #000000;
}

#vk_comments, #vk_comments iframe, .fb-comments, .fb-comments iframe[style], .fb-comments span, .fb-comments iframe span[style] {
  width: 100% !important;
  /*max-height: 500px;*/
}

#vk_groups, #vk_groups iframe {
  width: 100% !important;
  max-width: inherit;
  /*max-height: 500px;*/
}

.columBio2
{
    border: 10px;
    border-radius: 4px;
    min-height: 26em;
    min-width: 22em;
    margin: 2em 0em;
}

.dataRule2
{
    background: #F7F6F6;
    /*border: 10px;*/
    border-radius: 4px;
    /*margin-top: 2em;*/
    margin-bottom: 2em;
    min-height: 26em;
    margin-left: 0em;
}


.marathon-multipliers
{
  /*background: #F7F6F6;*/
  border-radius:4px; 
  background-color:white;
}

/*.rating
{
  max-width: 280px;
}*/
.wrap-text{
  overflow: hidden;
}
.subscribe
{
  padding-bottom: 40px;
}

@media (max-width: 360px){
  .marathon-multipliers {
    overflow: hidden;
    margin-left: -20px;
    max-width: 260px;
  }
  .rating-games {
    display: none;
  }
}

@media (max-width: 400px){
  .rating
  {
    /*max-width: 260px;*/
    max-width: inherit;
    /*width: 100%*/
    overflow: hidden;
    margin-left: 0;
  }
  .subscribe
  {
    /*max-width: 260px;*/
    max-width: inherit;
  }
}

@media (max-width: 430px){
  .rating-acceleratorValue {
    overflow: hidden;
    max-width: 40px;
  }
}

@media (max-width: 470px){
  .killPaddings {
    padding-left: 0px;
    padding-right: 0px;
  }
  .rating-lgn{
    overflow: hidden;
    max-width: 26px;
  }
}

@media (min-width: 471px and max-width: 650px){
/*  .marathon-multipliers {
    overflow: hidden;
    margin-left: -20px;
    max-width: 350px;
  }*/
  .rating-lgn{
    overflow: hidden;
    max-width: 50px;
  }
}