

.tournPos
{
    max-width: 70%;
}

.chatColumn
{
    background-color: #c7afaf;
}

.background
{
    background-image: url('photo-1448485780098-7e0b78781fc1.jpeg');
}

.containetWithTourn
{
    border-radius: 10px;
}

.chatrule
{
}

.chatRule
{
    background: #F7F6F6;
    border: 10px;
    border-radius: 4px;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 26em;
}

.dataRule
{
    background: #F7F6F6;
    border: 10px;
    border-radius: 4px;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 26em;
    margin-left: 1em;
}

.columBio
{
    border: 10px;
    border-radius: 4px;
    min-height: 26em;
    min-width: 24em;
    margin: 2em 1em;
}

