
<div class="bloc l-bloc bgc-white" id="nav-bloc">
	<div class="container bloc-sm">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">Online-tournaments</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav navbar-nav">
					<li>
						<a href="index.html">Главная</a>
					</li>
					<li>
						<a href="account.html">Профиль</a>
					</li>
					<li>
						<a href="bonus.html">Бонус</a>
					</li>
					<li>
						<a href="support.html">Техподдержка</a>
					</li>
					<li>
						<a class="ltc-brandeis-blue" href="tyrnit.html">sabrysmk $1.44</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>