//
html
	head
		script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
		// charset="windows-1251"
		include templates/header
		script(src="tournaments.js")
		include templates/googleAd
