//

mixin drawQuestion(i)
	label Question
	input(type="text" name="q"+i)

	label NumberOfQuestions
	input(type="text" name="counter")
	label NumberOfQuestions
	input(type="text" name="counter")
	label NumberOfQuestions
	input(type="text" name="counter")
	label NumberOfQuestions
	input(type="text" name="counter")


form(method="POST" action="/AddQuestion")
	label NumberOfQuestions
	input(type="text" name="counter")

	label NumberOfQuestions
	input(type="text" name="counter")

	label NumberOfQuestions
	input(type="text" name="counter")

