//
html
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").
	script.
		//- alert('1');
		var msg = "#{msg}";
		//alert(msg);
		//- alert(#{msg});
	script(src="adminScripts/Running.js")
	script(src="adminScripts/MoneyTransfer.js")

	h2 Tournaments
	///- var msg = "#{msg}";
	p!= 1
	- if(msg)
		p!=JSON.stringify(msg)
	#Running
		p Running
	script.
		var tmr = setInterval(GetRunningTournaments, 3000);
