//
html
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js").
	script.
		//- alert('1');
		var msg = "#{msg}";
	script(src="adminScripts/Running.js")
	//script(src="adminScripts/MoneyTransfer.js")

	h1 Logs!
	br
	a(href="Log" target="_blank") Full logs
	br
	a(href="SpecLogs/asd" target="_blank") SpecLogs
	br
	a(href="Tournaments" target="_blank") Tournaments

	h2 Tournaments
	///- var msg = "#{msg}";
	p!= 1
	- if(msg)
		p!=JSON.stringify(msg)
	#Running
		p Running
	br
	br
	//table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
		tr
			td
	#Tournaments
		p Total tournaments
	#Games
		table(BORDER="1" CELLPADDING="10" CELLSPACING="0" BORDERCOLOR="000000")
			tr
				td
					#1
						p Ping pong
				td
					#2
						p Questions
						
	//script.
		var tmr = setInterval(GetRunningTournaments, 3000);
		var tmr2 = setInterval(GetTotalTournaments, 3000);
