//
extends layout

block title
	title Паки
block JSlibs
	script(src="packs.js")

block ftr

block content
	div(class="col-sm-12")
		h1(class="white text-center") Мои карточки
		//script.
			drawPackButton()
		br
	div(class="col-sm-12" id="cards")
		script.
			//var msg = "#{msg}";
			var msg = !{JSON.stringify(msg)};
			var usercards = msg.usercards;

			//console.log(
			var Cards = msg.cards;
			//console.log(Cards);
			//console.log(usercards);
			drawCards(Cards);
			drawMyCards(Cards, usercards)
			
