//
mixin inp(tdName, inpName)
	tr
		td #{tdName}
		td
			input(type="text", name=inpName).
mixin showCashoutForm()
	p!= 'Hello, '
		a(href = "Profile") Back to profile
	a(href = "Logout") Logout


	form(method="POST" action="Cashout")
		table
			+inp('money', 'money')
			+inp('card num. Not necessary now', cardNum)
			tr
				td
					input(type="submit" value="Cashout")
html
	head
		title Deposit
	body
		//
			if (session.login && session.login.length>0)
				+showCashoutForm()
			else
				p!= 'You need to register'
				a(href = "Login") Login
		+showCashoutForm()
