//
extends layout

block title
	title Сбросить пароль

block content
	if msg && msg.result
		h2(class="white text-center")
			case msg.result
				when 'OK'
					| Пароль успешно изменён!
				default
					| Ошибка
		case msg.result
			when 'OK'
				center
					a(href="/Profile" class="btn btn-primary btn-lg") Вернуться в профиль
			default
				include templates/changepassword
	else
		include templates/changepassword
block ftr
