//
extends layout

block title
	title Сбросить пароль

block content
	if msg && msg.result && msg.result == 'OK'
		h2(class="white text-center") Пароль успешно изменён!
		center
			a(href="/Profile" class="btn btn-primary btn-lg") Вернуться в профиль
		//case msg.result
			when 'OK'
				h2(class="white text-center") Пароль успешно изменён!
				center
					a(href="/Profile" class="btn btn-primary btn-lg") Вернуться в профиль
			default
				h2(class="white text-center") Ошибка
				include templates/changepassword
	else
		h2(class="white text-center") Ошибка
		include templates/changepassword
block ftr
