//
include templates/libs
include templates/menu



script(src="storage.js")
script(src="draw.js")

script(src="sockets.js")
if session && session.login
	script(src="loadProfile.js")

//script(src="stats.js")

script var login = "#{session.login}";	
#tournaments(style="display: none;")
	#playButtons

