extends layout

block title
	title Онлайн Турниры

block legacy
	script.
		var socket = io();
block overrideMenu

block content
	div(class="col-sm-12 bgc-white" id="ratingField")
		#app
		script(src="/output/app.js?6")
block JSlibs
