//

extends layout

//block JSlibs

block title
	title Рейтинг

mixin ratingTable(msg)
	include templates/rating

block content
	center
		h1(class="" style="color:white;")
			| Таблица участников марафона
			//(
			//a(href="/") назад
			//| )
		if session
			a(href="#"+session.login) найти меня в списке
		
	div(class="bloc l-bloc bgc-white" id="bloc-1")
		div(class="container")
			div(class="row")
				div(class="col-sm-12 dataRule2")
					+ratingTable(msg)
					script.
						$("#loading").hide();
