extends layout

block title
	title Лиги

block ftr

block content
	include templates/news
	#app
	script(src="/output/Leagues.js")

block JSlibs
	//script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
	//script(src="/tournaments.js?2")
