//
doctype html
html
	head
		title Login
		include templates/head
	div(class="page-container")
		include templates/menu

		div(class='bloc-group')
			include templates/login
			//include templates/register
		include templates/footer
