//
extends layout
block title
	title Главная

block JSlibs
	script(src="tournaments.js")

block content
	div(class="white")
		div(class="col-sm-6")
			h1(class="mg-md text-center") Участвуй в марафоне и выиграй приз!
			div(class="img-wrapper")
				image(class="promo" style="background-color:purple;" src="/img/Marathon.png")
				//div(class="img-zone-down")
				div(class="text-center")
					//center
					a(href="" onclick="autoreg()" class="btn btn-success btn-lg btn-overlay2") Играть
			div(class="text-center")
				a(href="Leaderboard") Текущий рейтинг
		div(class="col-sm-6")
			h1(class="mg-md text-center") Выиграй футболку Криштиану Роналду!
			div(class="img-wrapper")
				image(class="promo" src="/img/CR2.jpg")
				center
					a(href="" class="btn btn-success btn-lg btn-overlay2") Играть (39РУБ)
			div(class="text-center")
				a(href="Tournaments") Другие турниры
		div(class="offset-bg col-sm-12 black")
			div(class="col-sm-8 dataRule2")
				h3(class="text-center ratingHead")
					| ТОП10 (
					a(href="Leaderboard") все участники
					| )
				include templates/rating
			div(class="col-sm-4 subscribe")
				+subscribe()
		div(class="col-sm-12")
			+chat()
