//
mixin drawIcons()
	div(class="bloc l-bloc bgc-white" id="bloc-2")
		div(class="container bloc-sm")
			div(class="row")
				//div(class="col-sm-4")
					div(class="text-center")
						//span(class="ion ion-android-desktop icon-desktop icon-round icon-lg")
						span(class="fa fa-user icon-round icon-lg")
					h3(class="text-center mg-md")
						Зарегистрируйся
					//p(class="text-center")
						Моментальная регистрация

				div(class="col-sm-5")
					div(class="text-center")
						//span(class="fa fa-soccer-ball-o icon-strategy icon-round icon-lg")
						span(class="fa fa-question icon-strategy icon-round icon-lg")
					h3(class="text-center mg-md")
						Ответь на вопросы викторины
					//p(class="text-center")
						Ответь на вопросы по истории команды

				div(class="col-sm-5")
					div(class="text-center")
						span(class="fa fa-trophy icon-round icon-lg")
					h3(class="text-center mg-md")
						Выиграй приз!
					//p(class="text-center")
						Выиграй футболку
doctype html
html
	head
		title Онлайн турниры
		include templates/head2
		//link(rel="stylesheet" href="./css/animate.css")
		link(rel="stylesheet" href="./css/ionicons.min.css")
		link(rel="stylesheet" href="./css/main.css")
		include templates/googleAd
	div(class="page-container")
		include templates/menu
		div(class="b-divider")
			//div(class='bloc-group')
			+drawIcons()
			include templates/auth
			+googleAdvert()
		include templates/footer

