//
extends layout

include Leaderboard

block content

	div(class="col-sm-12 white")
		h1(class="mg-md text-center ") Марафон
		// p Накопите наибольшее количество очков и выиграйте главный приз в еженедельном марафоне!
		p Участвуйте в турнирах, накапливайте очки и выиграйте главный приз в еженедельном марафоне!
		p Участие в марафоне абсолютно бесплатно и у вас всегда будут шансы на победу!
		p За каждый сыгранный турнир вы получаете 1 очко в таблице лидеров.
		
		p Набирать больше очков вам помогут 
			a(href="#accelerator") ускорители 
			| , которые вы можете 
			a(href="#cost") купить 
			или получить 
			a(href="#free") бесплатно

		p Марафон длится 6 дней (с понедельника по субботу). По мере роста призового фонда, количество призов и их размер также растёт. 

	p(class="white" id="todayConditions")
	
	div(class="col-sm-12" id="accelerator")
		h2(class="mg-md text-center white") Что такое ускоритель?
		p(class="white") Ускоритель - это то, что поможет набирать очки быстрее соперников!
		p(class="white") Вы получаете 1 очко за каждый сыгранный турнир.
		p(class="white") С ускорителем 10, вы получите 10 очков за каждый сыгранный турнир!

		p(class="white") Ускоритель 4 стоит 20 монет. Вы сможете улучшить его до 12 (за 20 монет)
		p(class="white") Ускоритель 7 стоит 35 монет. Вы сможете улучшить его до 10 (за 35 монет)

		//p(class="white") Ускоритель 40 стоит 80 монет. Это самый лучший ускоритель! 
			Вы можете приобрести его в воскресенье, если у вас нет ускорителей 4, 7, 10 и 12.

	div(class="col-sm-12" id="free")
		h2(class="mg-md text-center white") Хотите получить ускоритель бесплатно?
		p(class="white") У вас есть такая возможность! Для этого нужно сделать одно из этих простых действий:
		
		p(class="white")
			a(href="https://vk.com/o_tournaments" target="_blank") Подпишитесь 
			и получите ускоритель 2!

		ul(class="list-group")
			li(class="list-group-item")
				a(href="invite" target="_blank") Приведи 
				| друга и вы оба получите ускоритель бесплатно!
			li(class="list-group-item")
				a(href="addQuestion" target="_blank") Добавь 
				| 7 вопросов и после модерации ты получишь ускоритель бесплатно! Если ничего не происходит в течение дня, напиши администратору в 
				a(href="/#vk_comments" target="_blank") чате

		p(class="white") В случае победы вам достанется лишь 20% от приза. Т.е. если вы претендуете на приз в 1000 монет, то получите лишь 200.
	
	//div(class="col-sm-12")
		h2(class="mg-md text-center white" id="Leaderboard") Таблица лидеров

block title
	title Гонка