//
extends layout

block content

	div(class="col-sm-12 white")
		h1(class="mg-md text-center ") Марафон
		// p Накопите наибольшее количество очков и выиграйте главный приз в еженедельном марафоне!
		p Играйте в турниры, накапливайте очки и выиграйте главный приз в еженедельном марафоне!
		p За каждый сыгранный турнир вы получаете 1 очко в таблице лидеров.
		p Набирать больше очков вам помогут 
			a(href="#") ускорители
		p Участвовать в марафоне может любой желающий и у вас всегда будут шансы на победу!
		p Участие в марафоне стоит от 10 монет (в зависимости от 
			a(href="#") дня регистрации
			| ) , но у вас всегда есть возможность играть 
			a(href="#") бесплатно
		p Марафон длится 7 дней. По мере роста призового фонда, количество призов и их размер также растёт. 

	div(class="col-sm-12 white")
		h2(class="mg-md text-center") Порядок проведения марафона
		p Марафон длится 7 дней. По мере роста призового фонда, количество призов и их размер также растёт. 
		p Наберите как можно больше очков, чтобы выиграть приз! Очки даются за любой сыгранный турнир. 
		p В первые 3 дня за любой сыгранный турнир даётся 1 очко.
		p В последующие дни вы можете приобрести ускорители (3 и 10), которые помогут набирать очки быстрее
		p Стоимость участия в марафоне зависит от того, в какой день вы зарегистрируетесь.
		p Вы можете включиться в марафон в любой день недели и у вас всегда будут хорошие шансы выиграть приз!
	
	div(class="col-sm-12")
		h2(class="mg-md text-center white") Стоимость участия
		p(class="white") Стоимость участия в марафоне зависит от того, в какой день вы зарегистрируетесь. Чем раньше, тем дешевле.
		ul(class="list-group")
			li(class="list-group-item") 10 монет в первые 3 дня марафона (с понедельника по среду). Вы получаете ускоритель 1. Покупка ускорителей 3 и 10 будет стоить 15 монет
			li(class="list-group-item") 30 монет на 4й, 5й и 6й дни марафона (с четверга по субботу). Вы получаете ускоритель 3. Покупка ускорителя 10 будет стоить 60 монет
			li(class="list-group-item") 200 монет в последний день марафона (воскресенье). Вы получаете ускоритель 15. Это самый лучший ускоритель! Другим игрокам он не доступен!
	
	div(class="col-sm-12")
		h2(class="mg-md text-center white") Что такое ускоритель?
		p(class="white") Ускоритель - это то, что поможет набирать очки быстрее соперников!

		p(class="white") Например, если вы сыграли в 5 турниров с ускорителем 10, то вы получите 50 очков в таблице марафона
	
	//div(class="col-sm-12")
		h2(class="mg-md text-center white") Стоимость ускорителей
		p(class="white") Стоимость участия в марафоне зависит от того, в какой день вы зарегистрируетесь. Чем раньше вы зарегистрируетесь, тем дешевле
		table(class="table marathon-multipliers")
			//list-group list-group-item
			thead
				tr
					th День
					th 1:3
					th 4:6
					th 7
			tbody
				tr
					td Ускоритель
					td 1
					td 3
					td 10
				tr
					td Стоимость участия (СУ)
					td 10
					td 30
					td 200
				tr
					td Стоимость ускорителя
					td -
					td 1 СУ
					td 1 СУ
					// td 2 СУ

	div(class="col-sm-12")
		h2(class="mg-md text-center white") Могу ли я участвовать бесплатно?
		p(class="white") Да, у вас есть такая возможность! Для этого нужно сделать одно из этих простых действий:
		ul(class="list-group")
			li(class="list-group-item")
				a(href="invite" target="_blank") Приведи 
				| друга и вы оба сможете участвовать в марафоне бесплатно!
			li(class="list-group-item")
				a(href="addQuestion" target="_blank") Добавь 
				| 5 вопросов и после модерации ты будешь зачислен в марафон. Если ничего не происходит в течение дня, напиши администратору в 
				a(href="/#vk_comments" target="_blank") чате
		p(class="white") В противном случае, вам достанется лишь десятая часть от приза. Т.е. если вы претендуете на приз в 200 монет, то получите лишь 20.

block title
	title Гонка
