//
extends layout

block title
	title Паки
block JSlibs
	script(src="packs.js")

block ftr

block content
	div(class="col-sm-12")
		//h1(class="white text-center")
		center
			a(class="btn btn-primary btn-lg" href="/Packs") Вернуться к открытию паков
			//a(href="/Cards") Мои карточки
		script.
			var msg = !{JSON.stringify(msg)};
			var usercards = msg.usercards;
			var collections = msg.collections;
			//console.log(
			var Cards = msg.cards;
			var Packs = msg.packs
	br
	div(class="col-sm-12 col-xs-12" id="cards")
		br
		br
		script.
			//var msg = "#{msg}";
			//console.log(Cards);
			//console.log(usercards);
			drawCards(Cards);
		+drawCollections()
		//a(href="/Cards") Мои карточки
			//drawMyCards(Cards, usercards)
mixin drawCollections()
	div(class="white")
		script showCollections(collections, usercards, true)
