//
extends layout

block title
	title Паки
block JSlibs
	script(src="packs.js")

block ftr

block content
	div(class="col-sm-12")
		//h1(class="white text-center")
		center
			a(class="btn btn-primary btn-lg" href="/Packs") Вернуться к открытию паков
			//a(href="/Cards") Мои карточки
		script.
			var msg = !{JSON.stringify(msg)};
			var usercards = msg.usercards;
			var collections = msg.collections;
			//console.log(
			var Cards = msg.cards;
			var Packs = msg.packs
	br
	div(class="col-sm-12 col-xs-12" id="cards")
		br
		br
		script.
			//var msg = "#{msg}";
			//console.log(Cards);
			//console.log(usercards);
			drawCards(Cards);
		+drawCollections()
		//a(href="/Cards") Мои карточки
			//drawMyCards(Cards, usercards)
	//list: [ '56f950d692b3159c3188ba8d', '56f9511192b3159c3188ba8e', '56f9512d92b3159c3188ba8f', '56f9516e92b3159c3188ba90', '56f9532392b3159c3188ba92', '56f9533b92b3159c3188ba93', '56f9535092b3159c3188ba94', '56f9544b92b3159c3188ba9d', '56f9548b92b3159c3188baa3', '56f954a292b3159c3188baa4', '56f954d892b3159c3188baa6' ] }
mixin drawCollections()
	div(class="white")
		script showCollections(collections, usercards, true)
