//
extends layout

block title
	title Паки

block JSlibs
	//script(src="packs.js")
block legacy
	script.
		var socket = io();
//block ftr

block content
	script.
		console.log('packs incoming...');
		var msg = !{JSON.stringify(msg)}
		console.log(msg);
		var PACKS = msg.packs;
	#app
	script(src="/output/app.js")
	br