//
extends layout

block title
	title Паки
block JSlibs
	script(src="packs.js")

block ftr

block content
	div(class="col-sm-12")
		h1(class="white text-center")
			| Паки
			//a(href="/Cards") Мои карточки
		script.
			var msg = !{JSON.stringify(msg)};
			var usercards = msg.usercards;
			var collections = msg.collections;
			//console.log(
			var Cards = msg.cards;
			var Packs = msg.packs
			drawPackButtons(Packs)
		//center
			button(class="btn btn-primary" onclick="openPack()") Открыть за 10 руб
		//p!= JSON.stringify(msg.usercards)
		//p!= JSON.stringify(msg.collections)
		p!= JSON.stringify(msg.packs)
		br
	div(class="col-sm-12 col-xs-12" id="cards")
		script.
			//var msg = "#{msg}";
			//console.log(Cards);
			//console.log(usercards);
			drawCards(Cards);
		+drawCollections()
		//a(href="/Cards") Мои карточки
			//drawMyCards(Cards, usercards)
mixin drawCollections()
	//script.
		var collections = [{ have:1, need:10 },{ have:1, need:10 },{ have:1, need:10 },{ have:1, need:10 }]
	div(class="white")
		script showCollections(collections, usercards)
		//div(class="col-sm-12")
			h1(class="mg-md text-center") Собери "серую" команду и получи ускоритель 4!
			script.
				showCollection(Cards, 4)
		//div(class="col-sm-12")
			h1(class="mg-md text-center") Собери "зелёную" команду и получи 10 зелёных паков!
			script.
				showCollection(Cards, 3)
		//div(class="col-sm-12")
			h1(class="mg-md text-center") Собери "синюю" команду и получи 10 синих паков!
			script.
				showCollection(Cards, 2)
		//div(class="col-sm-12")
			h1(class="mg-md text-center") Собери "красную" команду и получи 1000 рублей на счёт!
			script.
				showCollection(Cards, 1)
