//
//pay Fail(
//doctype html
//html
	head
		title Login
		include templates/head
		link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/pay.css")
	div(class="page-container")
		include client

		div(class='bloc-group')
			div(class="bloc bgc-white bg-walkway d-bloc" id="bloc-12")
				div(class="container bloc-lg2")
					div(class="row")
						div(class="col-sm-12")
							div(class="text-center")
								span(class="fa fa-ban icon-xl lg-shadow")
							h3(class="mg-md text-center ")
								Упс…Что то пошло не так
								br
								Повторите попытку
		include templates/footer
//
extends layout

block content
	h1(class="text-center white" ) Упс ... что то пошло не так
	center
		a(href="/profile#dep" class="btn btn-primary btn-lg") Повторите попытку

block ftr

block title
	title Неудачный платёж
