//
//p payOK!!!!
//doctype html
//html
	head
		title Login
		include templates/head
		link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/pay.css")
	div(class="page-container")
		include client

		div(class='bloc-group')
			div(class="bloc bgc-white bg-walkway d-bloc" id="bloc-13")
				div(class="container bloc-lg2")
					div(class="row")
						div(class="col-sm-12")
							div(class="text-center")
								span(class="fa fa-check icon-xl lg-shadow")
							h3(class="mg-md text-center ")
								Вы пополнили свой счет
		include templates/footer

extends layout

block content
	h1(class="text-center white" ) Вы пополнили свой счет!
	center
		a(href="/" class="btn btn-primary btn-lg") Обновите страничку

block ftr

block title
	title Неудачный платёж
