//
doctype html
html
	head
		title Login
		include templates/head
		script(src="third_party/validator.min.js")
	div(class="page-container")
		include templates/menu

		div(class='bloc-group')
			//include templates/login
			include templates/register
		div(class='bloc-group')
			center
				| Или
				include templates/vk-auth
		include templates/footer
		script(src="interactiveInput.js")
