//
extends layout

block title
	title Сбросить пароль

block content
	if msg && msg.result
		h2(class="white text-center")
			case msg.result
				when 'OK'
					| Пароль изменён! Проверьте ваш почтовый ящик
				when 'fail'
					| Неверный email
				default
					| Ошибка
		case msg.result
			when 'OK'
				center
					a(href="/Login" class="btn btn-primary btn-lg") Войти
			default
				include templates/remember
	else
		include templates/remember
block ftr
