-//p!= 'PARTITION ADDED'
- if (session.login && session.login.length>0) {
	p!= 'Hello, ' + session.login
	a(href = "Logout") Logout
- }
- var ab = JSON.stringify(session);
- console.log(session);
- console.log('session :' + ab);
- //p #{session.login}
- //p!= session.login
-//p JSON.stringify(#{session})
