//
extends layout

block title
	title Темы

//block ftr

block content
	include templates/news
	#app
	h1(class="white text-center") Команды
	

block JSlibs
	//script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
	//script(src="tournaments.js?1")
	//include templates/googleAd
