//
mixin tabs()
	ul(class="nav nav-tabs")
		li(class="active")
			a(href="#tab1" data-toggle="tab") Рейтинг
		//li
			a(href="#tab2" data-toggle="tab") Чат
		//li
			a(href="#tab4" data-toggle="tab") Настройки
	div(class="tab-content")
		div(class="tab-pane active" id="tab1")
			div(class="container")
				div(class="row" style="padding-bottom:40px;")
					+rating()
					div(class="col-md-3 columBio")
						+subscribe()
					//+userStats()
				div(class="row")
					+chat()
		//div(class="tab-pane" id="tab2")
		//div(class="tab-pane" id="tab3")
			p Tab 3 content goes here...
		//div(class="tab-pane" id="tab4")
			p Настройки


mixin rating()

	h3(class="text-center" style="padding-top:15px;")
		| ТОП10 (
		a(href="Leaderboard") все участники
		| )
	include templates/rating
	//table(class="table rating" id="rating")
		thead
			tr
				th #
				th Игрок
				th Очки
				th(class="games") Игры
				th Приз
				th(class="acceleratorValue") Ускоритель
		tbody(id="ratingTab")
			//tr
				td Рейтинг 
				td обновляется 
				td каждые 
				td 8
				td секунд
	//div(class="col-md-12")
		a(href="Leaderboard" class="btn btn-primary" target="_blank") Полный рейтинг
	//br
	//div(class="col-md-12")
		a(href="Marathon#accelerator0" class="btn btn-danger center-block" target="_blank") Заработайте очки быстрее!

mixin statContent()
	div(class="content")
		div(class="data")
			ul
				li 567
					span Сыграно
				li 61
					span % побед
				li 530 ₽
					span Выиграно
		div(class="follow")
			div(class="icon-twitter") Follow

mixin userStats()
	div(class="col-md-3 columBio")
		+subscribe()
		//div(class="containerico")
			+subscribe()
			//header
				div(class="bio")
					img(src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg")
					div(class="desc")
						h3 @carlf
						p Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character
				div(class="avatarcontainer")
					img(src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar")
					div(class="hover")
						div(class="icon-twitter")
			//+statContent()


extends layout

block title
	title Турниры

block content
	div(class="row" id="tournamentBlock")
	div(class="bloc l-bloc bgc-white" id="bloc-1")
		div(class="container")
			div(class="row")
				div(class="col-md-8 dataRule2")
					+rating()
				div(class="col-md-4 subscribe")
					+subscribe()
			div(class="row")
				+chat()

block JSlibs
	script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
	script(src="tournaments.js")
	//include templates/googleAd
