//
mixin footer()
	footer
		h3 Connect with me on:
			a(target="_blank" class="social-icon" href="https://twitter.com/axelut")
				i(class="fa fa-twitter")
			a(target="_blank" class="social-icon" href="https://www.facebook.com/axelut")
				i(class="fa fa-facebook-square")
			a(target="_blank" class="social-icon" href="https://dribbble.com/axelut")
				i(class="fa fa-dribbble")
			a(target="_blank" class="social-icon" href="https://github.com/alexandru-paduraru")
				i(class="fa fa-envelope-o")
			a(target="_blank" class="social-icon" href="https://www.reddit.com/user/alexpaduraru/")
				i(class="fa fa-vk")

mixin navigation()
	nav(class="navbar navbar-default" role="navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand" href="#") Online-Tournaments
			div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav navbar-right")
					li
						a(href="about") О нас
					li
						a(href="Tournaments") Турниры
					li(class="dropdown")
						a(href="#" class="dropdown-toggle" data-toggle="dropdown") Настройки 
							b(class="caret")
						ul(class="dropdown-menu")
							li
								a(href="profile") Профиль
							li
								a(href="#") Пополнить баланс
							li
								a(href="#") Вывести приз                                                         
							li(class="divider")
					li
						a(href="Logout") Выход
mixin cover()
	div(class="cover")
		img(src="http://s28.postimg.org/p916fev0t/week.jpg" alt="")
		div(class="info")
			div(class="going")
				i(class="fa fa-group") 25 Играют
			div(class="tickets-left")
				i(class="fa fa-ticket") 5 Мест
mixin cardBody()
	div(class="body")
		div(class="artist")
			h6(class="info") Тема
			h4(class="name") Музыка
		div(class="price")
			div(class="from") Приз
			div(class="value") 5000 
				b ₽
		div(class="clearfix")
		div(class="info")
			p(class="location")
				i(class="fa fa-map-marker") Цена : 100₽
			p(class="date")
				i(class="fa fa-calendar") Призовых мест: 1
		div(class="clearfix")

mixin click_down()
	li
		div(class="ticket")
			h5 Basic Ticket
				br
				small 25 Tickets left
		div(class="price")
			div(class="value")
				b $
				| 599
		a(href="#" class="btn btn-info btn-sm btn-buy") Buy Now!
mixin collapse()
	div(class="collapse")
		ul(class="list-unstyled")
			+click_down()
			+click_down()
			+click_down()

	div(class="footer")
		button(class="btn toggle-tickets")
			| Регистрация закрыта

mixin showTournaments()
	div(class="col-sm-6 col-md-4")
		div(class="ticket-card")
			+cover()
			+cardBody()
			+collapse()

mixin nav_tabs()
	ul(class="nav nav-tabs")
		li(class="active")
			a(href="#tab1" data-toggle="tab") Сводка
		li
			a(href="#tab2" data-toggle="tab") Чат
		li
			a(href="#tab4" data-toggle="tab") Настройки
mixin chat()
	//div(class="col-md-12 chatColumn chatRule")
		h3 Column title
		//div(class="form-group")
			label(class="control-label" for="formInput54") Field label
			textarea(class="form-control" rows="3" id="formInput54")
		//div(class="form-group")
			label(class="control-label" for="formInput74") Field label
			input(type="text" class="form-control" id="formInput74" placeholder="Placeholder text")
	div(id="vk_comments")
	//div(id="vk_comments_mini")
	//div(id="vk_comments_lg")
	script(type="text/javascript").
		VK.Widgets.Comments("vk_comments", {limit: 5, width: "auto", height: "501", attach: "*"});
		//VK.Widgets.Comments("vk_comments_mini", {limit: 10, width: "300", attach: "*"});
		//VK.Widgets.Comments("vk_comments_lg", {limit: 10, width: "900", attach: "*"});
mixin tabs()
	div(class="tab-content")
		div(class="tab-pane active" id="tab1")
			div(class="container")
				div(class="row")
					+leftTab()
		div(class="tab-pane" id="tab2")
			+chat()
		div(class="tab-pane" id="tab3")
			p Tab 3 content goes here...
		div(class="tab-pane" id="tab4")
			p Tab 4 content goes here...

mixin leftTab()
	div(class="col-md-8 dataRule")
		table(class="table")
			thead 
				tr 
					th #
					th Игрок
					th Сыграно
					th Побед
					th Выигрыш
					th Бонус
			tbody
				tr 
					td 1 
					td Mark 
					td 100 
					td 62
					td 300р
					td +50р
				tr 
					td 2 
					td Jacob 
					td 87 
					td 34
					td 150р
					td +10р
	+user_stats()

mixin statContent()
	div(class="content")
		div(class="data")
			ul
				li 567
					span Сыграно
				li 61
					span % побед
				li 530 ₽
					span Выиграно
		div(class="follow")
			div(class="icon-twitter") Follow

mixin user_stats()
	div(class="col-md-3 columBio")
		div(class="containerico")
			header
				div(class="bio")
					img(src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg")
					div(class="desc")
						h3 @carlf
						p Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character
				div(class="avatarcontainer")
					img(src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar")
					div(class="hover")
						div(class="icon-twitter")
			+statContent()
mixin head()
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="")
		meta(name="author" content="")
		title Турниры

		// Bootstrap core CSS
		link(href="./css/new/bootstrap.css" rel="stylesheet")
		// Custom styles for this template
		link(href="./css/new/style.css" rel="stylesheet")
		//		link(rel="stylesheet" href="./css/new/font-awesome.min.css")
		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// [if lt IE 9]
		script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		//[endif]
		link(href="./css/new/style1.css" rel="stylesheet" type="text/css")
		link(href="./css/new/style2.css" rel="stylesheet" type="text/css")
		//link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="./css/font-awesome.min.css")
		script(type="text/javascript" src="//vk.com/js/api/openapi.js?121")
		script(type="text/javascript").
			VK.init({apiId: 5205914, onlyWidgets: true});
		link(rel="stylesheet" href="./css/new/vkComment.css")
html
	head
		+head()
	body(class="background")
		div(class="wrapper")
			div(class="container")
				+navigation()
				div(class="container containetWithTourn")
					div(class="row")
						+showTournaments()
						+showTournaments()
						+showTournaments()
						+showTournaments()
					div(class="row")
						+nav_tabs()
						+tabs()
			+footer()
			include templates/footer

		script(src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(src="button_animation.js")
		script(src="./js/bootstrap.js")
		// IE10 viewport hack for Surface/desktop Windows 8 bug
		//script(src="assets/js/ie10-viewport-bug-workaround.js")
