//
include templates/basic
include templates/card

mixin nav_tabs()
	ul(class="nav nav-tabs")
		li(class="active")
			a(href="#tab1" data-toggle="tab") Рейтинг
		li
			a(href="#tab2" data-toggle="tab") Чат
		li
			a(href="#tab4" data-toggle="tab") Настройки

mixin tabs()
	div(class="tab-content")
		div(class="tab-pane active" id="tab1")
			div(class="container")
				div(class="row")
					+rating()
					+user_stats()
		div(class="tab-pane" id="tab2")
			+chat()
		//div(class="tab-pane" id="tab3")
			p Tab 3 content goes here...
		div(class="tab-pane" id="tab4")
			p Настройки

mixin rating()
	div(class="col-md-8 dataRule")
		table(class="table")
			thead 
				tr 
					th #
					th Игрок
					th Сыграно
					th Побед
					th Приз
			tbody
				tr 
					td 1 
					td Mark 
					td 100 
					td 62
					td 100р
				tr 
					td 2 
					td Jacob 
					td 87 
					td 34
					td 50р

mixin statContent()
	div(class="content")
		div(class="data")
			ul
				li 567
					span Сыграно
				li 61
					span % побед
				li 530 ₽
					span Выиграно
		div(class="follow")
			div(class="icon-twitter") Follow

mixin user_stats()
	div(class="col-md-3 columBio")
		div(class="containerico")
			header
				div(class="bio")
					img(src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg")
					div(class="desc")
						h3 @carlf
						p Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character
				div(class="avatarcontainer")
					img(src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar")
					div(class="hover")
						div(class="icon-twitter")
			+statContent()

mixin showTournaments(tournaments)
	- for (i=0; i<tournaments.length;i++) {
		+showTournament(tournaments[i] , 0)
	- }
	//+showTournament()

mixin head()
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="description" content="")
	meta(name="author" content="")
	title Турниры

	// Bootstrap core CSS
	link(href="./css/new/bootstrap.css" rel="stylesheet")
	// Custom styles for this template
	link(href="./css/new/style.css" rel="stylesheet")
	//		link(rel="stylesheet" href="./css/new/font-awesome.min.css")
	// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
	// [if lt IE 9]
	script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
	script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
	//[endif]
	link(href="./css/new/style1.css" rel="stylesheet" type="text/css")
	link(href="./css/new/style2.css" rel="stylesheet" type="text/css")
	//link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="./css/font-awesome.min.css")

	script(type="text/javascript" src="//vk.com/js/api/openapi.js?121")
	script(type="text/javascript").
		VK.init({apiId: 5205914, onlyWidgets: true});
	link(rel="stylesheet" href="./css/new/vkComment.css")

	link(rel="stylesheet" href="./css/new/my.css")
	meta(name="w1-verification" content="179817005946")
html
	head
		include templates/header
		script(src="tournaments.js")
		+notEnoughMoney()
	body(class="background")
		//div(class="wrapper")
		+navigation()
		div(class="container")
			+drawBalance()
			div(class="container containetWithTourn")
				div(class="row" id="tournamentBlock")
					//+showTournaments(msg)
				div(class="row")
					+nav_tabs()
					+tabs()
		div(class="wrapper2")
			+footer()

		script(src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(src="button_animation.js")
		script(src="./js/bootstrap.js")
		// IE10 viewport hack for Surface/desktop Windows 8 bug
		//script(src="assets/js/ie10-viewport-bug-workaround.js")
