//
include templates/basic
include templates/card

mixin navTabs()
	ul(class="nav nav-tabs")
		li(class="active")
			a(href="#tab1" data-toggle="tab") Рейтинг
		li
			a(href="#tab2" data-toggle="tab") Чат
		li
			a(href="#tab4" data-toggle="tab") Настройки

mixin tabs()
	div(class="tab-content")
		div(class="tab-pane active" id="tab1")
			div(class="container")
				div(class="row")
					+rating()
					+userStats()
		div(class="tab-pane" id="tab2")
			+chat()
		//div(class="tab-pane" id="tab3")
			p Tab 3 content goes here...
		div(class="tab-pane" id="tab4")
			p Настройки

mixin rtg()
	tr
		td Рейтинг 
		td обновляется 
		td каждые 
		td 8 секунд
	//tr 
		td 1 
		td Mark 
		td 100 
		//td 62
		td 100р
	//tr 
		td 2 
		td Jacob 
		td 87 
		//td 34
		td 50р

mixin rating()
	div(class="col-md-8 dataRule")
		table(class="table")
			thead 
				tr 
					th #
					th Игрок
					th Сыграно
					//th Побед
					th Приз
			tbody(id="ratingTab")
				+rtg()
		a(href="Leaderboard") Полный рейтинг

mixin statContent()
	div(class="content")
		div(class="data")
			ul
				li 567
					span Сыграно
				li 61
					span % побед
				li 530 ₽
					span Выиграно
		div(class="follow")
			div(class="icon-twitter") Follow

mixin userStats()
	div(class="col-md-3 columBio")
		div(class="containerico")
			header
				div(class="bio")
					img(src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg")
					div(class="desc")
						h3 @carlf
						p Carl Fredricksen is the protagonist in Up. He also appeared in Dug's Special Mission as a minor character
				div(class="avatarcontainer")
					img(src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar")
					div(class="hover")
						div(class="icon-twitter")
			+statContent()

mixin showTournaments(tournaments)
	- for (i=0; i<tournaments.length;i++) {
		+showTournament(tournaments[i] , 0)
	- }
	//+showTournament()

html
	head
		script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
		// charset="windows-1251"
		include templates/header
		script(src="tournaments.js")
		//script.
			function authInfo(response) {    
				if(response.status=='connected') {	// если пользователь залогинен в ВК     
					if(typeof(response.session.user) == 'undefined') { // этого поля нет 
						//тогда, когда пользователь был залогинен ранее
						VK.Api.call('users.get', { uid: response.session.mid }, function(r) { 
							$('#VKInfo').html(r.response[0].first_name+' '+r.response[0].last_name); 
							$('#VKInfo').append('user_id: '+response.session.mid); });
					}else {
						// если авторизация прошла только что (от VK.Auth.login(authInfo);), то имя и фамилия уже будут в ответе   
						$('#VKInfo').html(response.session.user.first_name+' '+response.session.user.last_name);
						$('#VKInfo').append('user_id: '+response.session.mid);}
				}else {
					VK.Auth.login(authInfo); // опционально можем спалиться и вызвать всплывающее окно авторизации
				}
			}

			//$(function() { VK.Auth.getLoginStatus(authInfo); }); // проверяем наличие входа в ВК, ответ отправляем в функцию обработчик
		+notEnoughMoney()
	body(class="background")
		//div(class="wrapper")
		+navigation()
		div(class="container")
			//script.
				var asd = VK.Auth.getSession();
				console.log(asd);
			span(id="VKInfo")
			+drawBalance()
			
			//p #{asd}
			div(class="container containetWithTourn")
				div(class="row" id="tournamentBlock")
					//+showTournaments(msg)
				div(class="row")
					+navTabs()
					+tabs()
		div(class="wrapper2")
			+footer()

		script(src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(src="button_animation.js")
		script(src="./js/bootstrap.js")
		// IE10 viewport hack for Surface/desktop Windows 8 bug
		//script(src="assets/js/ie10-viewport-bug-workaround.js")
