//

mixin rating()
	h3(class="text-center ratingHead")
		| ТОП10 (
		a(href="Leaderboard") все участники
		| )
	include templates/rating

extends layout

block title
	title Турниры

block content
	div(class="col-sm-12 killPaddings" id="tournamentBlock")
	div(class="col-sm-12 bgc-white" id="bloc-1")
		div(class="col-sm-8 dataRule2")
			+rating()
		div(class="col-sm-4 subscribe")
			+subscribe()
	div(class="col-sm-12 offset-bg")
		+chat()

	//div(class="bloc l-bloc bgc-white" id="bloc-1")
		div(class="container")
			div(class="row")
				+chat()
	//div(class="white")
		//div(class="col-sm-6")
			h1(class="mg-md text-center") Участвуй в марафоне и выиграй приз!
			div(class="img-wrapper")
				image(class="promo" style="background-color:purple;" src="/img/Marathon.png")
				div(class="text-center")
					//center
					a(href="" onclick="autoreg()" class="btn btn-success btn-lg btn-overlay2") Играть
			div(class="text-center")
				a(href="Leaderboard") Текущий рейтинг
		//div(class="col-sm-6")
			h1(class="mg-md text-center") Выиграй футболку Криштиану Роналду!
			div(class="img-wrapper")
				image(class="promo" src="/img/CR2.jpg")
				center
					a(href="" class="btn btn-success btn-lg btn-overlay2") Играть (39РУБ)
			div(class="text-center")
				a(href="Tournaments") Другие турниры
		//div(class="col-sm-12 offset-bg black")
			div(class="col-sm-8 dataRule2")
				h3(class="text-center ratingHead")
					| ТОП10 (
					a(href="Leaderboard") все участники
					| )
				include templates/rating
			div(class="col-sm-4 subscribe")
				+subscribe()

		div(class="col-sm-12 bgc-white killPaddings" id="bloc-1")
			div(class="col-sm-8 dataRule2")
				+rating()
			div(class="col-sm-4 subscribe")
				+subscribe()

		div(class="col-sm-12 offset-bg")
			+chat()

block JSlibs
	script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
	script(src="tournaments.js")
	//include templates/googleAd
