//
extends layout

block title
	title Турниры

block content
	#modal-special-tab
	include templates/news
	div(class="col-sm-12")
		h1(class="page") Турниры
		//hr(colour="white" width="60%" align="center")
	script.
		var TOURNAMENTS = !{JSON.stringify(msg)};
		//drawTournaments(tournaments)
	div(class="col-sm-12 killPaddings" id="tournamentBlock")
		#app
	script(src="/output/Tournaments.js")
	script(src="/output/Modal.js")
	script(type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="utf-8")
	//div(class="col-sm-12 bgc-white" id="ratingField")
		//div(class="col-sm-4 subscribe")
		//+subscribe()
	//div(class="col-sm-12 offset-bg")
		+chat()

block JSlibs
	//script(src="/tournaments.js?2")

	//script(src="/category.js?1")
	//include templates/googleAd

block CSSlibs
	link(rel="stylesheet" href="/css/animate.css")