@keyframes init
  0%
    opacity 0
  100%
    opacity 1

@-webkit-keyframes shadow {
  from {text-shadow: 0 0 3px black;}
  50% {text-shadow: 0 0 30px black;}
  to {text-shadow: 0 0 3px black;}
}
@keyframes shadow {
  from {text-shadow: 0 0 3px black;}
  50% {text-shadow: 0 0 30px black;}
  to {text-shadow: 0 0 3px black;}
}

.appear
  //
  animation-name init
  animation-delay 1s
  animation-timing-function ease-in-out
  animation-iteration-count 1

  //-webkit-animation: shadow  2s infinite ease-in-out;
  //animation: shadow  2s infinite ease-in-out;
  -webkit-animation: init 1s 1 ease-in-out;
  animation: init 1s 1 ease-in-out;

.zoom-low
  transition all 0.25s
  &:hover
    zoom 1.02