@keyframes init
  0%
    opacity 0
  100%
    opacity 1

@-webkit-keyframes shadow {
  from {text-shadow: 0 0 3px black;}
  50% {text-shadow: 0 0 30px black;}
  to {text-shadow: 0 0 3px black;}
}
@keyframes shadow {
  from {text-shadow: 0 0 3px black;}
  50% {text-shadow: 0 0 30px black;}
  to {text-shadow: 0 0 3px black;}
}