.football-team {
  width: 150px;
  float: left;
}


.football-team-image {
  width: 200px;
  height: 175px;
  display: inline-block;
}

.football-team-realmadrid {
  background-image: url('/img/topics/realmadrid.jpg');
}

.football-team-manunited {
  background-image: url('/img/topics/manutd.jpg');
}

.football-translation {
  width: calc(100% - 302px);
  float: left;
}

.football-translation-text {
  margin-bottom: 15px;
  padding: 7px;
}


.footballer {
  cursor: pointer;
}
.footballer.selected {
  box-shadow: 0 0 18px #2793C7;
}

.football-team.left {
  border-right: 1px solid;
}
.football-team.right {
  border-left: 1px solid;
}