* {
  /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
  /*font-weight: lighter;*/
}

@import "./football.styl"
//@import "../public/css/new/bootstrap.css"
main-bg-color = #141414
//main-bg-color = #FFFFFF
main-text-color = white
menu-background = black

//@custom-media --u480 (max-width: 480px)
//@custom-media --mobile (max-width: 480px);

mobile-size = 480px
desktop-size = 960px

.background
  background-color main-bg-color
  background-attachment fixed
  //background-image url('/img/covers/Abstract_Dark_Planets.jpg')
  background-image url('http://wallpaperrs.com/uploads/3d-abstract/colored-blur-wide-wallpaper-13150.jpg')
  background-image url('http://www.cfau-pd.net/images/blurred-wallpaper/blurred-wallpaper-2.jpg')
  background-image url('/img/covers/dark-bgd2.jpg')
  /*background-image: url('');*/
  //background-image: url('http://www.qqxxzx.com/images/dark-background-images/dark-background-images-7.jpg');
  background-size cover

.page
  //font-family 'Courier New', 'Arial'
  //font-style italic
  //color white
  //text-align center
  font-family: cursive;
  //font-style: inherit;
  color: main-text-color;
  text-align: center;
  font-weight: 900;

.page.text-left
  text-align left
.red
  background-color: #e74c3c;
.text-big
  color main-text-color
  font-size 42px
.text-mid
  color main-text-color
  font-size 36px
.text-small
  color main-text-color
  font-size 24px
.text-micro
  color main-text-color
  font-size 16px
.text-nano
  color main-text-color
  font-size 8px
.text-title
  color main-text-color
  font-size 36px

.content-title
  color main-text-color
  //font-family Calibri
  //font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-size 24px
  @extends .page
  margin-bottom 24px
.page-header
  color main-text-color
  font-size 42px
  @extend .page
  @extend .red

.main-title
  font-size 32px

.sub-title
  font-size 24px

.btn-primary
  border-radius 0
  //@extend .btn-primary
//.

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: #3498db;
  /*transition: all 0.5s;*/
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #3498db;
  transition: all 0.3s;
}

.navbar-inverse .navbar-nav > li > a.active, .navbar-inverse .navbar-nav .active > li > a:focus {
  background-color: #e74c3c;
  /*background-color: #3498db;*/
}
.navbar-inverse .navbar-brand .active, .navbar-inverse .navbar-brand .active:focus {
  background-color: #e74c3c;
  /*background-color: #3498db;*/
}

.navbar-brand .active {
  background-color: red;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}


.navbar {
  /*background-color: #111111;*/
  background-color main-bg-color
}


.navbar-my{
  /*margin-top: 25px;*/
}


.navbar-inverse{
  border-color: transparent;
}

.navbar.chat {
  height: 30px;
  min-height: 30px;
}

.input-sm {
  width: 100px;
}
.input-mid {
  width: 150px;
}

.button-input-rur {
  position: relative;
  width: 125px;
  /*pointer-events: none;*/
}
.button-input-rur:after {
  position: absolute;
  right: 15px;
  top: 10px;
  content: 'РУБ';
  pointer-events: none;
  color: #555;
}
.justify {
  text-align: justify;
}
//.column {
//  padding: 10px 0;
//  background-color: rgba(255, 0, 0, 0.25);
//  text-align: center;
//
//  border: 1px solid rgba(255,255,255,0.25);
//  background-color: rgba(255,255,255,0.2);
//  color: rgba(255,255,255,0.9);
//}

.pointer {
  cursor: pointer;
}

.container-mobile {
  width: 300px;
}

.wrapper2 {
  width: 100%;
  /*min-height: 930px;*/
  display: block;
  position: relative;

  /*background: #333333;*/
  /*background-image: url("photo-1448485780098-7e0b78781fc1.jpeg");*/
  /*background-size: cover;
  background-position: center center;*/
  padding-bottom: 50px;
  /*padding-top: 70px;*/
}

.btn-std{
  border-radius:4px;
  width:100%;
}

.btn-rd{
  border-radius: 40px;
}
.btn-clean{
  border:1px solid rgba(0,0,0,.08);
  border-bottom-color:rgba(0,0,0,.1);
  text-shadow:0 1px 0 rgba(0,0,1,.1);
  box-shadow: 0 1px 3px rgba(0,0,1,.25), inset 0 1px 0 0 rgba(255,255,255,.15);
}
.btn-d,.btn-d:hover{
  color:#FFF!important;
  background:rgba(0,0,0,.3);
}
.btn-d:focus{
  background: blueviolet;
}

/* Prevent ugly blue glow on chrome and safari */
button{
  outline: none!important;
}
.padding {
  padding: 0 15px;
}

.card-new {
  width: 280px;
  display: inline-block;
}

.modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  /*max-height: 60vh;*/
  /*overflow-y: scroll !important;*/
}

/*.modal-body2 {*/
/*max-height: 60vh;*/
/*overflow-y: auto;*/
/*}*/

.wrapper2 footer
{
  /*position: absolute;*/
  z-index: 3;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.wrapper2 footer h3
{
  color: #FFFFFF;
  font-weight: 200;
}

.wrapper2 footer .social-icon
{
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 34px;
  margin: 20px;
}

.wrapper2 footer .social-icon:hover
{
  opacity: 1;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.offset{
  margin-top: 20px;
}

.offset-md{
  margin-top: 5px;
  margin-bottom: 15px;
}

.offset-bg{
  margin-top: 25px;
  margin-bottom: 25px;
}

.offset-lg{
  margin-top: 50px;
  margin-bottom: 50px;
}

.purple {
  background-color:#8e44ad;
}

.red {
  background-color:#e74c3c;
  //background-color:#e51400;
}

.yellow {
  background-color: #e3c800;
}

.carrot {
  background-color: #e67e22;
}


.green {
  background-color: #2ecc71;
}


.btn-overlay{
  display: inline-block;
  position:absolute;
  /*right:50%;*/
  top: 80%;
  width: 120px;
  /*  width: 50%;
    margin: 0 auto; */
}

.center-absolute
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.btn-overlay2{
  /*margin-bottom: -20px;*/
  margin-top: -70px;
  /*position:absolute;
    bottom:20%;*/
  /*right:50%;*/
  /*width:120px;*/
  /*height:30px;*/
}
.freeroll-description {
  /*width: 300px;*/
}
.center{
  /*margin: 0 auto;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.centerize {
  /*margin: auto;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*top: 0;*/
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}
.centerize2 {
  /*margin: auto;*/
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  /*left: 50%; !* position the left edge of the element at the middle of the parent *!*/

  /*transform: translate(-50%, -50%);*/
}

.pack-container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 280px;
}

.ctr{
  margin: 0 auto 0;
  text-align: center;
}

.btn-fixed{
  width: 200px;
}

.ratingHead{
  padding-top:15px;
}

.promo{
  width: 100%;
  overflow: hidden;
  border-radius: 4px;


  /*width-m: 280px;*/
  /*height: 200px;*/

  /*background-image: url('img_flowers.jpg');*/
  /*background-size: cover;*/
}

.expandable{
  cursor: pointer;
}

.promo2{
  display: block;
  max-width:520px;
  max-height:300px;
  width: auto;
  height: auto;
}

.ticket-card .body .info
{
  color: #777777;
}

.ticket-card:hover {
  /*box-shadow: -5px -5px 9px 5px rgba(0,0,0,0.4);*/
  /*box-shadow: -5px -5px 9px 5px rgba(209, 146, 72, 0.4);*/
  /*box-shadow: -1px -2px 9px 9px rgba(209, 146, 72, 0.4);*/
  /*cursor: pointer;*/
}
.ticket-card .list-unstyled{
  background: none;
  overflow-X: hidden;
}

.ticket-card .price .from
{
  color: #777777;
}

.ticket-card .cover img
{
  margin-top: 0px;
}

.ticket-card .body .info .going
{
  float: left;
}

.fit
{
  overflow-X: hidden;
}


.ticket-card .body .info .tickets-left
{
  float: right;
}

.balance
{
  /*padding-left: 35px;*/
  color:#FFFFFF;
}
.points
  @extends .balance
.white
  color #FFFFFF

.black
  color #000000

#vk_comments, #vk_comments iframe, .fb-comments, .fb-comments iframe[style], .fb-comments span, .fb-comments iframe span[style] {
  width: 100% !important;
  /*max-height: 500px;*/
}

#vk_groups, #vk_groups iframe {
  /*width: 100% !important;*/
  margin-left: auto;
  margin-right: auto;

  width: 300px !important;
  height: 300px;
  max-width: inherit;
  /*max-height: 500px;*/
}

.columBio2
{
  border: 10px;
  border-radius: 4px;
  min-height: 26em;
  min-width: 22em;
  margin: 2em 0em;
}

.dataRule2
{
  background: #F7F6F6;
  /*border: 10px;*/
  border-radius: 4px;
  /*margin-top: 2em;*/
  margin-bottom: 2em;
  min-height: 26em;
  margin-left: 0em;
}

.wrap-text{
  overflow: hidden;
}
.subscribe
{
  padding-bottom: 40px;
}

.containerdiv { float: left; position: relative; }
.cornerimage { position: absolute; top: 0; left: 0; }

.full{
  width: 100%;
}

.card{
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 15px;
  /*  border-width: 1px;
    border-color: red;*/
  margin-bottom: 15px;
  width: 100%;
}

.full-mobile {
  width: 100%;
  max-width: 280px;
}

.demo-question-tab {
  height: 80px;
}

.relative {
  position: relative;
}

.pack-prize-offset {
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;
  border-width: 3px;
  border-style: solid;
  //border-color: royalblue;
}

.pack-prize-offset
  &.color0
    border-color red
  &.color1
    border-color blue
  &.color2
    border-color green
  &.color3
    border-color gray

.tournament-centerize {
  /*margin: auto;*/
  left: 0;
  right: 0;
  /*bottom: 0;*/
  /*top: 0;*/
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */

  transform: translateY(-50%);
}
.darkened-centered-container
  @extends .pack-prize-offset
  border-width 0
  //border-width 3px
  border-color royalblue
.total-centering
  @extends .tournament-centerize
.pack-prize-description {
  padding: 10px;
  font-size: 21px;
  //background-color: white;
  /*color: black;*/
  color: white;
  text-align: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  /*background-color: #2b2d2f;*/
  /*opacity: 0.8;*/
  /*background-color: rgba(6, 6, 6, 0.48);*/
  background-color: rgba(6, 6, 6, 0.68);

  min-height: 80px;
}
.blur-strong
  filter: blur(5px); /* Someday, sigh ... */
  -webkit-filter: blur(5px); /* Prefixed CSS3 blur filters */
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: url(#blur); /* Firefox needs SVG */
  //filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5') /* IE lte 9 */

.darkened-centered-container-content
  @extends .pack-prize-description
  min-height 100%

.demo-answer {
  margin-bottom: 15px;
}

.demo-container {
  width: 600px;
}

.img-demo {
  height: 450px;
  /*width: 100%;*/
}

@media (max-width: 630px) {
  .img-demo {
    height: 240px;
  }
  .demo-container {
    /*width: 100%;*/
    max-width: 280px;
  }
}

.img-responsive {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inlineable {
  display: inline-block;
}

@media handheld {
  .inlineable {
    display: block;
  }
}

.img-wrapper{
  /*  width: 100%;
    text-align: center;*/

  /*      position:relative;
      display:inline-block;
      text-align:center;*/
  /*opacity: .83;*/
  opacity: 1;
  /*opacity: .5;*/
  transition: opacity 0.3s;
  overflow: hidden;
  background-color: black;
}
.img-wrapper:hover{
  opacity: 0.5;
  /*opacity: 1;*/
  overflow: hidden;
  background-color: black;
}

.pack {
  width: 280px;
  height: 200px;
  float: left;

  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.light-blue:hover {
  box-shadow: 0 0 18px #2793C7;
  /*box-shadow: 0 0 28px #2793C7;*/
}
.light-blue-big:hover {
  box-shadow: 0 0 88px #2793C7;
}

.nomargins {
  margin-left: 0;
  margin-right: 0;
}

.light-peach:hover {
  box-shadow: -1px -2px 9px 9px rgba(209, 146, 72, 0.4);
  /*box-shadow: 0 0 18px rgba(209, 146, 72, 0.4);*/
}
.light-peach-big:hover {
  /*box-shadow: -1px -2px 9px 9px rgba(209, 146, 72, 0.4);*/
  box-shadow: 0 0 89px rgba(209, 146, 72, 0.4);
}

.pack-wrapper{
  opacity: 1;
  overflow: hidden;
  background-color: transparent;
}

.pack-wrapper:hover{
  opacity: 0.5;
  overflow: hidden;
  /*background-color: black;*/
  background-color: transparent;
}

.pack-card{
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 0px;
  /*margin-bottom: 25px;*/
  /*margin-bottom: 15px;*/
  width: 100%;
  padding-right: 0px;
}

.pack-cover{
  border-radius: 50px;
  border-style: solid;
  overflow: hidden;
  background-color: white;

  margin-bottom: 25px;
}

.card-name{
  /*color: white;*/
  font-size: 42px;
}

.card-title{
  font-size: 25px;
}

.card-description{
  /*color: white;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  /*padding-bottom: 20px;*/
  /*padding-top: 20px;*/
  padding: 10px;
  font-size: 21px;

  background-color: white;
  color: black;
  text-align: center;
}

.responsive {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-loading {
  width: 20px;
  height: 17px;
  background-image: url('/img/loading.gif');
}

.tournament-cover {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.big-cards-container {
  display: table;
}
.card-container-semi {
  /*height: 100%;*/
  /*height: 350px;*/
  /*width: 300px;*/
  /*float: left;*/
}
.tournament-date-start {
  text-align: left;
  position: absolute;
  //bottom: 20px;
  bottom: 13px;
  left: 20px;
  z-index: 100;
  color: whitesmoke;
}
.tournament-prize-count {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  color: white;
}
.tournament-cost {
  text-align: left;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  color: white;
}
.tournament-difficulty {
  display: none;
  text-align: left;
  position: absolute;
  /*top: 20px;*/
  bottom: 20px;
  /*left: 0;*/
  /*right: 0;*/
  left: 20px;
  /*left: 50%;*/
  /*transform: translate(-50%);*/
  z-index: 100;
  color: whitesmoke;
}

.tournament-body {
  //padding-top: 15px;
  padding-top: 5px;
  background: #F7F6F6;
}
.tournament-body.participating {
  /*background: #CCFF90 ;*/
  /*background-color: navajowhite;*/
  /*background-color: #FFF176;*/
  /*background-color: #F4FF81;*/
  background-color: #FFECB3;
}

.tournament-cover-text span {
  font-size: 35px;
}
.tournament-cover-text {
  font-family: Impact;
  /*position: absolute;*/
  /*font-size: 40px;*/
  font-size: 24px;
}

.tournament-cover-container {
  background-color #303030
  /*height: 262px;*/
  height 225px
  position relative
  background-size cover
}
.link
  background-color red
  padding 22px
  width 200px
  text-decoration none
  //border-radius 100px
  color main-text-color

  padding: 15px 10px;
  width: 180px;
  background: #0099cc;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  &:hover
    text-decoration none
    color main-text-color
    background-color: #3da1d1
  &:focus
    text-decoration none
    color main-text-color
    background-color: #3da1d1
.my-carousel-item
  opacity 0.3
  //transition: opacity 0.6s;
  &.animate
    opacity 1
    transition: opacity 0.96s;
    //-webkit-transition: .6s ease-in-out left;
    //-o-transition: .6s ease-in-out left;
    //transition: 1.96s ease-in-out left;
.round-tournament-cover
  //max-width 525px
  //width 100%
  //height 325px
  @extend .img-responsive
  width 52vw
  height 32vw
  //width 80vw
  //height 48.5vw

  @media (max-width: desktop-size)
    width 80vw
    height 48.5vw
  @media (max-width: mobile-size)
    //.round-tournament-cover
    width 90vw
    height 52.5vw
//.faded:after
//  position absolute
//  left 0
//  right 0
//  top 0
//  bottom 0
//  opacity 0.3
//  z-index 1000
//  background-color black
  //position: absolute;
  //right: 15px;
  //top: 10px;
  //content: 'РУБ';
  //pointer-events: none;
  //color: #555;
.rma-cover-img
  @extend .img-responsive
  background-image: url('/img/rounds/real-madrid-away-jersey-16-17.jpg')
  height 400px
  margin-bottom 36px
  @media (max-width: desktop-size)
    height 350px
  @media (max-width: mobile-size)
    height 150px
.rma-cover
  //@extends .round-tournament-cover
  //width 100%
  //max-width 300px
  width 700px
  //height 400px

  //background-image: url('/img/CR.jpg')
  //width 59vw
  //height 73vw
  @media (max-width: desktop-size)
    width 600px
    //height 350px
  @media (max-width: mobile-size)
    width 300px
    //height 150px
round-image-size = 225px
.round-container
  display block
  //width 450px
  width 100%
  overflow hidden
  height round-image-size
  margin-bottom 25px
  @media (max-width mobile-size)
    width 100%

.round-image
  width round-image-size
  height round-image-size
  @extend .img-responsive
  float left
  padding 15px
  background-image: url('/img/rounds/real-madrid-away-jersey-16-17.jpg')
.round-tournament-info
  float left
  height 100%
  background-color #2b2d2f
  //width 300px
  width calc(100% - 225px)
.round-upper
  overflow hidden
  padding 20px
.round-number
  float left
  //width 80px
  color main-text-color
  //text-align left
.round-price
  float right
  color main-text-color

.round-date-time
  //margin-top 25px
  color main-text-color
  padding-left 20px
  text-align left
.round-prize
  margin-top 25px
  color main-text-color
.round-join
  background-color #2b2d2f

.tournament-cover-container.darkblue { background-color: #34495e; }
.tournament-cover-container.darkdarkblue { background-color: #2c3e50; }
.tournament-cover-container.pomegranate { background-color: #c0392b; }
.tournament-cover-container.red { background-color: #e74c3c; }
.tournament-cover-container.green { background-color: #2ecc71; }
.tournament-cover-container.blue { background-color: #3498db; }
.tournament-cover-container.purple { background-color: #9b59b6; }

.tournament-body.darkblue { background-color: #34495e; }
.tournament-body.darkdarkblue { background-color: #2c3e50; }
.tournament-body.pomegranate { background-color: #c0392b; }
.tournament-body.red { background-color: #e74c3c; }
.tournament-body.green { background-color: #2ecc71; }
.tournament-body.blue { background-color: #3498db; }
.tournament-body.purple { background-color: #9b59b6; }

.auth-container {
  max-width: 450px;
  margin: 0 auto;
  float: none;
}
.cover {
  cursor: pointer;
}
.tournament-users {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  color: whitesmoke;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.list-item {

}

.contacts-tab {
  width: 50%;
  float: left;
}

.footer-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: none;
}

.chat-tab {
  position: fixed;
  bottom: 0;
  /*min-height: 30px;*/
  height: 30px;
  overflow: hidden;

  background-color main-bg-color
  /*background-color: #111111;*/
  /*background-color: blue;*/
  /*background-color: #3498db;*/
  /*background-color: darkgray;*/
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  padding-top: 5px;
  /*margin-top: 3px;*/
}

.chat-tab:hover {
  /*color: black;*/
  background-color: #2b2d2f;
}

.footer-divider {
  color: white;
  height: 15px;
  margin: 0 10px;
  display: inline-block;
}

@media (max-width: 360px){
  .rating-games {
    display: none;
  }
}

@media (max-width: 400px){
  .rating {
    /*max-width: 260px;*/
    max-width: inherit;
    /*width: 100%*/
    overflow: hidden;
    margin-left: 0;
  }
  .subscribe {
    /*max-width: 260px;*/
    max-width: inherit;
  }
}

.nopaddings {
  padding: 0px;
}

@media (max-width: 470px){
  .killPaddings {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.ticket-card .price{
  float: none;
  text-align: center;
}

.ticket-card .cover{
  /*margin: 0;*/
  margin: auto;
  /*margin-bottom: 15px;*/
  /*position: relative*/
}

.ticket-card .cover img{
  border-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.noborder{
  border-radius: 0 !important;
}
/*@media (min-width: 600px) {*/
/*.border-if-you-can{*/
/*border-radius: 1000px;*/
/*}*/
/*}*/

.circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.circle-md{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/*a.link {
  cursor: default;
}*/

/*a {
  cursor: default;
}*/


a.glance {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  background-color: #000;
  /*background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);*/
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
a.glance:active {
  top: 1px;
  box-shadow: none;
}
a.glance:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}

.btn{
  border: 0;
  border-radius: 300px;
  /*text-transform: uppercase;*/
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
}

.button {
  border-radius: 1000px;
  /*width: 100px;*/
  /*background-color: #1a6ecc;*/
}

/*.btn >a {
  color: #f05f40;
}

.*/
/*a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}
*/

.space {
  margin: 50px, 0, 50px, 0;
}

.darker {
  opacity: 0.8;
}

.chat-text {
  color: white;
  text-align: left;
}

.hero-unit {
  padding: 60px;/* CHANGE PADDING HERE*/
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  /*background-color: #eeeeee;  CHANGE BACKGROUND HERE*/
  /*background-image: url('/img/topics/bale.jpg');*/

  background-size: cover;
  /*background-position: center center;*/
  background-repeat:   no-repeat;
  /*background: center center cover no-repeat fixed;*/
  /*background-repeat: no-repeat;*/

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;

  border-radius: 6px;
  border-color: white;
  border-width: 1px;
  /*border-style: solid;*/
}
.height-fix {
  height: auto;
  overflow: hidden;
}

.pointer-no-underline {
  cursor: pointer;
  text-underline: none;
}

.menu-fixed-top {
  position: fixed;
  top: 0;
  height: 51px;
  left: 0;
  right: 0;
  /*background-color: #111111;*/
  background-color menu-background
  z-index: 200;
}

.menu-item:hover {
  background-color: #3498db;
  transition: all 0.3s;
}
.menu-item.active {
  background-color: #e74c3c;
}

.menu-container {
  margin: 0 auto;
  max-width: 320px;
  /*display: block;*/
  overflow: hidden;
}

.menu-item {
  padding: 15px 13px;
  display: block;
  float: left;
  cursor: pointer;
}

.menu-link,
.menu-link:hover,
.menu-link:visited,
.menu-link:active {
  color: white;
  text-decoration: none;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
}

.menu-balance-offset {
  /*height: 7px;*/
  /*background-color: #111111;*/
}
.menu-balance-container {
  margin: 0 auto;
  padding: 5px;
  /*background-color: #111111;*/
  background-color #22252d
}
.freeroll {
  /*height: 100%;*/
  /*background-color: #042E54;*/
  /*background-image: url(/img/logo.png) no-repeat center;*/
  /*background-image: url('/img/cardLayers/317350-blur-image-light.jpg');*/
  /*background-image: url("/images/20-banner.jpg");*/
  min-height: 270px;
  /*box-sizing: border-box;*/
  padding: 20px 30px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-repeat-y: no-repeat;*/
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  /*background-color: rgb(4, 46, 84);*/
  /*background-image: url("http://kloppex.ru/kart/23/gamma_abstrakcii_tekstury_krugi_cveta_bokeh_abstraction_1920x1080.jpg");*/

  position: relative;
  overflow: hidden;
  /*box-shadow: inset rgba(0, 0, 0, .33) 0 20rem 9rem -9rem, inset rgba(0, 0, 0,.25) 0 22rem;*/
}

.freeroll p{
  font-size: 20px;
}
/*@media (min-width: 700px){*/
/*.freeroll{*/
/*border-radius: 1000px;*/
/*}*/
/*}*/

.league-container {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
}

.league-tab {
  /*margin-right: 20px;*/
  /*width: 310px;*/
  width: 100%;
  height: 350px;
  /*display: inline-block;*/
  /*float: left;*/

  padding-bottom: 15px;
  padding-top: 15px;
}

.circle-input {
  border-radius: 1000px;
  border: 0;
  text-indent: 15px;
  height: 40px;
  outline: none;
}

.btn-mid {
  border-radius: 1000px;
  border: 0;
  height: 40px;
}

.clear-focus-border:focus{
  border: none;
}

.shadow{
  box-shadow: inset rgba(0, 0, 0, .13) 0 20rem 9rem -9rem, inset rgba(0, 0, 0,.65) 0 44rem;
  /*box-shadow: inset rgba(0, 0, 0, .33) 0 20rem 9rem -9rem, inset rgba(0, 0, 0,.25) 0 44rem;*/
}

.fadeText{
  text-shadow: 3px 4px 5px #000;
}

/* and (max-width: 650px)*/


/*.carousel-inner > .item > a > img {
    width: 100% !important;
    margin: auto;
}*/

section {
  position: absolute;
  width: 100%;
  top: 32%;
  margin: -70px 0;
  box-shadow: inset -5px -15px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
}