//
mixin drawAccount(email)
	div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-6")
		div(class="container bloc-lg")
			div(class="row")
				div(class="col-sm-12")
					div(class="panel")
						div(class="panel-heading")
							h3(class="mg-clear") Данные профиля
						div(class="panel-body")
							form(id="form-928" novalidate)
								div(class="form-group")
									label Имя
									h4(class="mg-md") #{session.login}
								div(class="form-group")
									label Email
									h4(class="mg-md") #{email}
								div(class="form-group")
									label Баланс
									h4(class="mg-md" id="money1") 123$
