//
mixin footer()
	footer
		h3 Наши контакты:
		a(target="_blank" class="social-icon" href="https://vk.com/o_tournaments")
			i(class="fa fa-vk")
		a(target="_blank" class="social-icon" href="mailto:mail@online-tournaments.org")
			i(class="fa fa-envelope-o")

mixin navigation()
	nav(class="navbar navbar-default navbar-my" role="navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand" href="/") Онлайн Турниры
			div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav navbar-right")
					li
						a(href="Marathon") МАРАФОН
					li
						a(href="Tournaments") Турниры
					li
						a(href="Packs") Паки
					if session && session.login
						li
							a(href="profile") Профиль
						//li(class="dropdown")
							a(href="#" class="dropdown-toggle" data-toggle="dropdown") Настройки 
								b(class="caret")
							ul(class="dropdown-menu")
								li
									a(href="profile") Профиль
								//li(class="divider")
								li
									a(href="addQuestion") Добавить вопрос
						li
							a(href="about") О нас
						li
							a(href="Logout") Выход
					else
						li
							a(href="about") О нас
						li
							a(href="Login") Вход
mixin chat()
	//div(class="col-md-12 chatColumn chatRule")
		h3 Column title
		//div(class="form-group")
			label(class="control-label" for="formInput54") Field label
			textarea(class="form-control" rows="3" id="formInput54")
		//div(class="form-group")
			label(class="control-label" for="formInput74") Field label
			input(type="text" class="form-control" id="formInput74" placeholder="Placeholder text")
	div(id="vk_comments")
		script(type="text/javascript").
			VK.Widgets.Comments("vk_comments", {limit: 10, width: "auto", height: "501", attach: "*"});
