//

mixin draw_image()
	img(src="http://s28.postimg.org/p916fev0t/week.jpg" alt="")

mixin draw_registered()
	div(class="going")
		i(class="fa fa-group") 5 Участвуют

mixin draw_maxPlayers()
	div(class="tickets-left")
		i(class="fa fa-ticket") 25 Мест

mixin draw_prize_count()
	p(class="date")
		i(class="fa fa-calendar") Призовых мест: 1

mixin draw_main_prize()
	div(class="value") 5000 
		b ₽

mixin draw_buyin()
	p(class="location")
		i(class="fa fa-map-marker") Цена : 100₽
mixin draw_topic()
	h4(class="name") Музыка

mixin cover()
	div(class="cover")
		+draw_image()
		div(class="info")
			+draw_registered()
			+draw_maxPlayers()


mixin cardBody()
	div(class="body")
		div(class="artist")
			h6(class="info") Тема
			+draw_topic()
		div(class="price")
			div(class="from") Приз
			+draw_main_prize()
		div(class="clearfix")
		div(class="info")
			+draw_buyin()
			+draw_prize_count()
		div(class="clearfix")

mixin click_down()
	li
		div(class="ticket")
			h5 Basic Ticket
				br
				small 25 Tickets left
		div(class="price")
			div(class="value")
				b $
				| 599
		a(href="#" class="btn btn-info btn-sm btn-buy") Buy Now!

mixin collapse()
	div(class="collapse")
		ul(class="list-unstyled")
			+click_down()
			+click_down()
			+click_down()

	div(class="footer")
		button(class="btn toggle-tickets")
			| Регистрация закрыта

mixin showTournament(t,line, imageUrl)
	div(class="col-sm-6 col-md-4")
		div(class="ticket-card")
			+cover()
			+cardBody()
			+collapse()
