//
div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-7")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
				div(class="panel")
					div(class="panel-heading")
						h3(class="mg-clear") Вывести деньги

					div(class="panel-body")
						p Условия вывода
						form(id="form-564" novalidate)
							div(class="form-group")
								label Сумма
								input(class="form-control")
							div(class="form-group")
								label Card number
								textarea(id="message4" class="form-control" rows="1" cols="50" required)
							a(class="btn btn-lg btn-primary" style="width:100%; border-radius:6px; " type="submit") Вывести
				//form(id="form-4" novalidate)
					div(class="form-group")
						label Name
						input(id="name4" class="form-control" required)
					
					div(class="form-group")
						label Email
						input(id="email4" class="form-control" type="email" required)
