//
div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-14")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
				div(class="panel")
					div(class="panel-heading")
						h3(class="mg-clear") Смена пароля
					div(class="panel-body")
						form(id="form-5" action="/ChangePassword" method="post" novalidate)
							div(class="form-group")
								label Введите пароль
								input(type="password" class="form-control" name="password")
							div(class="form-group")
								label Повторно введите пароль
								input(type="password" class="form-control" name="passwordRepeat")
							div(class="form-group")
								label Введите новый пароль
								input(type="password" class="form-control" name="newpassword")

							a(class="btn btn-lg btn-primary" style="width:100%; border-radius:6px; " type="submit") Сменить пароль
