//
div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-14")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
				center
					h3(class="mg-md") Смена пароля

				form(id="form-5" action="/ChangePassword" method="post" novalidate)
					div(class="form-group")
						label Введите пароль
						input(type="password" class="form-control" name="password")
					div(class="form-group")
						label Повторно введите пароль
						input(type="password" class="form-control" name="passwordRepeat")
					div(class="form-group")
						label Введите новый пароль
						input(type="password" class="form-control" name="newpassword")

					button(class="bloc-button btn btn-d btn-lg btn-block" type="submit") Сменить пароль
