//
div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-6")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
				div(class="panel")
					div(class="panel-heading")
						h3(class="mg-clear") Пополнить счет
					div(class="panel-body")
						p Условия пополнения
						a(href="bonus") Почему это выгодно?
						form(id="form-928" novalidate)
							div(class="form-group")
								label Сумма
								input(class="form-control")
							a(href="index.html" class="btn btn-lg btn-primary" style="width:100%; border-radius:6px; ") Пополнить
