//id="bloc-6"
//div(class="bloc l-bloc bgc-white bloc-tile-2" id="dep")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
div(class="panel")
	div(class="panel-heading")
		h3(class="mg-clear" id="depositMoney") Пополнить счет
	div(class="panel-body")
		form(id="form-928" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" novalidate)
			div(class="form-group")
				label Сумма (в рублях)
				input(type="hidden" name="receiver" value="410013860652119") 
				input(type="hidden" name="formcomment" value="Пополнение счёта в online-tournaments.org") 
				input(type="hidden" name="short-dest" value="Пополнение счёта в online-tournaments.org") 
				input(type="hidden" id="userLogin" name="label" value=login) 
				input(type="hidden" name="quickpay-form" value="shop") 
				input(type="hidden" id="targets" name="targets" value="Пополнение счёта у " + login) 
				input(type="hidden" id="sumAttribute" name="sum" value="4568.25" data-type="number") 
				input(type="hidden" name="comment" value="Платёж принят!")
				input(type="hidden" name="paymentType" value="AC")
				input(class="form-control" name="sum" id="deposit" value=500 required autocomplete="off")
				label(id="depResult" style="display:none;") Сумма в рублях: 700p
			input(type="submit" id="depositLink1" class="btn btn-lg btn-primary" value="Оплатить")
script(src="depositInput.js")
