//id="bloc-6"
div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-6")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
				div(class="panel")
					div(class="panel-heading")
						h3(class="mg-clear" id="depositMoney") Пополнить счет
					div(class="panel-body")
						//p Условия пополнения
						//form(method="POST" action="https://money.yandex.ru/quickpay/confirm.xml")
							input(type="hidden" name="receiver" value="410013860652119") 
							input(type="hidden" name="formcomment" value="Проект «Железный человек»: реактор холодного ядерного синтеза") 
							input(type="hidden" name="short-dest" value="Проект «Железный человек»: реактор холодного ядерного синтеза") 
							input(type="hidden" name="label" value=login) 
							input(type="hidden" name="quickpay-form" value="donate") 
							input(type="hidden" name="targets" value="транзакция {order_id}") 
							input(type="hidden" name="sum" value="4568.25" data-type="number") 
							input(type="hidden" name="comment" value="Хотелось бы дистанционного управления.")
							input(type="hidden" name="paymentType" value="AC")
							//input(type="hidden" name="need-fio" value="true") 
							//input(type="hidden" name="need-email" value="true") 
							//input(type="hidden" name="need-phone" value="false") 
							//input(type="hidden" name="need-address" value="false") 
							//label Яндекс.Деньгами
							//	input(type="radio" name="paymentType" value="PC")
							//label Банковской картой
								input(type="radio" name="paymentType" value="AC")
							//label Со счёта мобильного
								input(type="radio" name="paymentType" value="MC")
							input(type="submit" value="Оплатить")
						form(id="form-928" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" novalidate)
							div(class="form-group")
								label Сумма (в долларах)
								input(type="hidden" name="receiver" value="410013860652119") 
								input(type="hidden" name="formcomment" value="Пополнение счёта в online-tournaments.org") 
								input(type="hidden" name="short-dest" value="Пополнение счёта в online-tournaments.org") 
								input(type="hidden" id="userLogin" name="label" value=login) 
								input(type="hidden" name="quickpay-form" value="shop") 
								input(type="hidden" id="targets" name="targets" value="Пополнение счёта у " + login) 
								input(type="hidden" id="sumAttribute" name="sum" value="4568.25" data-type="number") 
								input(type="hidden" name="comment" value="Хотелось бы дистанционного управления.")
								input(type="hidden" name="paymentType" value="AC")
								input(class="form-control" name="sum" id="deposit" value=10 required autocomplete="off")
								label(id="depResult") Сумма в рублях: 700p
							input(type="submit" id="depositLink1" class="btn btn-lg btn-primary" value="Оплатить")
							//p Эта сумма может меняться в зависимости от курса валюты
							//a(href="bonus") Почему это выгодно?
							a(href="https://paysto.com/ru/upBalance?PAYSTO_SHOP_ID=22855&PAYSTO_SUM=700&PAYSTO_PAYER_ID="+session.login class="btn btn-lg btn-primary" style="display:none; width:100%; border-radius:6px; " id="depositLink12") Пополнить

//script.
	var USD_TO_RUR=78;
	$("#depResult").html("Сумма в рублях: " + 10*USD_TO_RUR + "р")
	$("#depositLink1").html("Пополнить счёт на "+ 10+"$");
	var input = document.getElementById('deposit');
	input.oninput = function (){
		var sum = input.value;
		var user = login;
		var moneyRu = sum * USD_TO_RUR;
		var link ="https://paysto.com/ru/upBalance?PAYSTO_SHOP_ID=22855&PAYSTO_SUM="+moneyRu+"&PAYSTO_PAYER_ID="+login;
		console.log(link + " " + sum + " " + user + " " + moneyRu + "p")

		$("#depositLink1").attr("href", link);
		$("#depResult").html("Сумма в рублях: " + moneyRu + "р")

		//document.getElementById('depResult').innerHTML = "Сумма в рублях: "+ sum*USD_TO_RUR+"р";
		$("#depositLink1").html("Пополнить счёт на "+ sum+"$");
	}

script.
	var USD_TO_RUR=78;
	$("#userLogin").attr("value", login)
	$("#targets").attr("value", login)
	$("#sumAttribute").attr("value", 10*USD_TO_RUR)

	$("#depResult").html("Сумма в рублях: " + 10*USD_TO_RUR + "р")

	$("#depositLink1").attr("value", "Пополнить счёт на "+ 10+"$")
	//$("#depositLink1").html("Пополнить счёт на "+ 10+"$");
	var input = document.getElementById('deposit');
	input.oninput = function (){
		var sum = input.value;
		var user = login;
		var moneyRu = sum * USD_TO_RUR;

		$("#depResult").html("Сумма в рублях: " + moneyRu + "р")
		$("#sumAttribute").attr("value", moneyRu)
		//document.getElementById('depResult').innerHTML = "Сумма в рублях: "+ sum*USD_TO_RUR+"р";
		//$("#depositLink1").html("Пополнить счёт на "+ sum+"$");
		$("#depositLink1").attr("value", "Пополнить счёт на "+ sum+"$")
	}
