//
div(class="bloc l-bloc bgc-white" id="bloc-18")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-3")
				h3(class="mg-md text-center") О нас
		
				div(class="text-center")
					a(href="about" target="_blank" class="a-btn") О проекте
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Контакты

				div(class="text-center")
					a(href="https://vk.com/o_tournaments" target="_blank" class="a-btn") Наша группа Вконтакте
				div(class="text-center")
					a(href="https://vk.com/topic-111187123_33419618" target="_blank" class="a-btn") Техподдержка	

				div(class="text-center")
					a(href="mailto:mail@online-tournaments.org" target="_blank") Email: mail@online-tournaments.org
					//p email: mail@online-tournaments.org

			div(class="col-sm-3")
				h3(class="mg-md text-center") Способы оплаты
				
				div(class="text-center")
					a(href="http://www.money.yandex.ru" target="_blank" class="a-btn")
						img(src="img/yandex.png")
					br
					a(href="http://www.visa.com.ru/ru/ru-ru/index.shtml" target="_blank" class="a-btn")
						img(src="img/visa.png")
					a(href="http://www.mastercard.com/ru/consumer/" target="_blank" class="a-btn")
						img(src="img/mastercard.png")
					a(href="http://www.megastock.ru/" target="_blank")
						img(src="img/acc_blue_on_white_ru.png" alt="www.megastock.ru" border="0")
			
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Партнёры
				
				div(class="text-center")
					a(href="https://vk.com/realmadrid_news" target="_blank" class="a-btn") Real Madrid CF Fans | Реал Мадрид
				div(class="text-center")
					a(href="http://paysto.ru/fromshop=22855" target="_blank") Совместно с PAYSTO
