//
div(class="bloc l-bloc bgc-white" id="bloc-18")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-3")
				h3(class="mg-md text-center") О нас
		
				div(class="text-center")
					a(href="index.html" target="_blank" class="a-btn") О проекте
				
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Контакты
				
				div(class="text-center")
					a(href="https://vk.com/topic-111187123_33419618" target="_blank" class="a-btn") Техподдержка				
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Мы в соцсетях
				
				div(class="text-center")
					a(href="https://vk.com/o_tournaments" target="_blank" class="a-btn") VK
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Партнёры
				
				div(class="text-center")
					a(href="https://vk.com/realmadrid_news" target="_blank" class="a-btn") Real Madrid CF Fans | Реал Мадрид
