//
//div(class="bloc l-bloc bgc-white" id="bloc-18")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-3")
				h3(class="mg-md text-center") About
				
				div(class="text-center")
					a(href="index.html" class="a-btn") The team
				
				div(class="text-center")
					a(href="index.html" class="a-btn") Contact us
				
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Get the App
				
				div(class="text-center")
					a(href="index.html" class="a-btn") iPhone
				
				div(class="text-center")
					a(href="index.html" class="a-btn") Android
				
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Follow us
				
				div(class="text-center")
					a(href="index.html" class="a-btn") Twitter
				
				div(class="text-center")
					a(href="index.html" class="a-btn") Facebook
				
			
			div(class="col-sm-3")
				h3(class="mg-md text-center") Company
				
				div(class="text-center")
					a(href="index.html" class="a-btn") Terms of use
				
				div(class="text-center")
					a(href="index.html" class="a-btn") Privacy
