//
mixin googleAdvert()
	//p!='GOOGLE AD'
	script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	// test2 
	ins(class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-1393762184125426"
	     data-ad-slot="1734359799"
	     data-ad-format="auto")
	script.
		(adsbygoogle = window.adsbygoogle || []).push({});
