//
mixin googleAdvert()
	script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	<!-- TestWidget -->
	ins(class="adsbygoogle"
	     style="display:inline-block;width:320px;height:100px"
	     data-ad-client="ca-pub-1393762184125426"
	     data-ad-slot="7311292594")
	script.
		(adsbygoogle = window.adsbygoogle || []).push({});
