//
//div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-14")
	div(class="container bloc-lg")
		div(class="row")
div(class="col-sm-12 col-xs-12 white")
	h3(class="mg-md text-center" id="loginForm") Вход
	h5(class="mg-md text-center")
		a(href="/register") Зарегистрироваться

div(class="col-sm-12 col-xs-12 white")
	//div(class="col-sm-8 col-xs-12 white")
	form(id="form-5" action="/Login" method="post" autocomplete="on")
		div(class="form-group")
			label(class="pull-left") Email
			input(type="text" class="form-control" name="email")
		div(class="form-group")
			label Пароль (
				a(href="ResetPassword") Забыли пароль?
				| )
			input(type="password" class="form-control" name="password")
			br
			//a(href="/" ) Нет аккаунта? Зарегистрируйтесь!
		button(class="btn btn-lg btn-success btn-std" type="submit") Войти
		br
		include vk-auth
		+loadVKauth()
		//button(class="bloc-button btn btn-d btn-lg btn-block" style="width:45%;" type="submit") Войти
