//
div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-14")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
				center
					h3(class="mg-md") Вход

				form(id="form-5" action="/Login" method="post" novalidate)
					div(class="form-group")
						label Логин
						//input(id="name5" class="form-control" required)
						input(type="text" class="form-control" name="login")
					div(class="form-group")
						label Пароль
						//input(id="email5" class="form-control" type="email" required)
						input(type="password" class="form-control" name="password")
					a(href="ResetPassword") Забыли пароль?
					br
					br

					button(class="bloc-button btn btn-d btn-lg btn-block" type="submit") Войти
					//button(class="bloc-button btn btn-d btn-lg btn-block" style="width:45%;" type="submit") Войти
				//a(href="Register") Нет аккаунта? Зарегистрируйтесь!
				//br
				//a(href="ResetPassword") Забыли пароль?
