//
link(rel="stylesheet" type="text/css" href="css/menu.css")
table(width="100%")
	tr
		td
			ul(id="menu")
				li
					a(href="Profile") Profile
				li
					a(href="Tournaments") Tournaments
				li
					a(href="chat") Chat
br
//ul(id="menu")
	li
a(id="my-tournaments" href="#" onclick="drawPopup()") My Tournaments
