link(rel="stylesheet" type="text/css" href="menu.css")
table(width="100%")
	tr
		td
			ul(id="menu")
				li
					a(href="Profile") Profile
				li
					a(href="Tournaments") Tournaments
				li
					a(href="chat") Chat
	tr
		td
			ul(id="menu")
				li
					a(onclick="openPopup()") My Tournaments
