//
mixin modal()
	//button(type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal") Open Modal

	div(id="myModal" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal") &times;
					h4(class="modal-title") Запущенные турниры
				div(class="modal-body" id="modal-body")
					#playButtons
					button(type="button" class="btn btn-default" data-dismiss="modal") Close
				//div(class="modal-footer")
					//button(type="button" class="btn btn-default" data-dismiss="modal") Close

mixin closeTournamentModal()
	//button(type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#closeTournament") Open Modal

	//div(id="closeTournament" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal")&times;
					h4(class="modal-title") Турнир завершён
				div(class="modal-body" id="close-body")
					#winning
					#continueButtons
					p Some text in the modal.
				div(class="modal-footer")
					button(type="button" class="btn btn-default" data-dismiss="modal")Close
mixin serverMessage()
	div(id="serverMessage" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal") &times;
					h4(class="modal-title") Сообщение от сервера
				div(class="modal-body" id="close-body")
					p(id="serverMsg") ...
				div(class="modal-footer")
					#ServerMessageButtonSpace
//
	mixin subscribe()
		div(id="vk_groups")
		//div(id="vk_share")
			a(class="btn btn-lg btn-primary" href="http://vk.com/share.php?url=http://online-tournaments.org/&title=Онлайн турниры&description=Участвуй в викторинах и выигрывай призы!&image=http://theartmad.com/wp-content/uploads/2015/08/Football-Stars-Wallpaper-1.jpg&noparse=true" target="_blank") Поделиться

		script(type="text/javascript").
			VK.Widgets.Group("vk_groups", {mode: 0, width: "auto", height: "360", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 111187123);
			/*document.getElementById('vk_share').innerHTML = VK.Share.button({
				url: "http://online-tournaments.org/&title=Хороший сайт&description='Это мой собственный сайт, я его очень долго делал'&image=http://theartmad.com/wp-content/uploads/2015/08/Football-Stars-Wallpaper-1.jpg&noparse=true"});*/
	
		//p Подпишитесь, чтобы быть в курсе новостей

mixin winnerModal()
	div(id="winnerModal" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal") &times;
					h4(class="modal-title") Турнир завершён.
				div(class="modal-body" id="winnerModalMsg")
				div(class="modal-footer" id="winnerModalFooter")
					//+subscribe()

mixin customModal()
	div(id="customModal" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal") &times;
					h4(class="modal-title" id="cTitle")
				div(class="modal-body" id="cBody")
				div(class="modal-footer" id="cFooter")


mixin notEnoughMoney()
	//button(type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#payModal") No money

	div(id="payModal" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal") &times;
					h4(class="modal-title") Вам не хватает совсем немного(
				div(class="modal-body" id="close-body")
					p(id="moneyNow") Денег на счету
					p(id="tournamentPrice") Стоимость участия
					p(id="needToPay") К оплате 

				div(class="modal-footer")
					//form(id="form-928" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" novalidate)
						div(class="form-group")
							//label Сумма (в долларах)
							input(type="hidden" name="receiver" value="410013860652119") 
							input(type="hidden" name="formcomment" value="Пополнение счёта в online-tournaments.org") 
							input(type="hidden" name="short-dest" value="Пополнение счёта в online-tournaments.org") 
							input(type="hidden" id="userLogin" name="label" value=login) 
							input(type="hidden" name="quickpay-form" value="shop") 
							input(type="hidden" id="targets" name="targets" value="Пополнение счёта у " + login) 
							input(type="hidden" id="sumAttribute" name="sum" value="4568.25" data-type="number") 
							input(type="hidden" name="comment" value="Платёж принят!")
							input(type="hidden" name="paymentType" value="AC")
							//input(class="form-control" name="sum" id="deposit" value=10 required autocomplete="off")
							//label(id="depResult") Сумма в рублях: 700p
					a(id="depositLink1" class="btn btn-lg btn-primary")
					

					//a(href="https://paysto.com/ru/upBalance?PAYSTO_SHOP_ID=22855&PAYSTO_SUM=100&PAYSTO_PAYER_ID="+session.login class="btn btn-primary" id="depositLink") Оплатить (1.5$)

					//button(type="button" class="btn btn-default" data-dismiss="modal") Close
	//script(src="notEnoughMoney.js").
