//
form(action="/api/transfers/mobile/mark/" method="POST")
	label(class="white") Номер платежа
	input(type="text" name="payID")
	br
	label(class="white") Сумма платежа
	input(type="text" name="ammount")
	br
	input(type="submit" class="btn btn-primary btn-lg" value="Подтвердить платёж")
