//
div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-15")
	div(class="container bloc-lg")
		div(class="row")
			div(class="col-sm-12")
				form(id="form-4" novalidate)
					center
						h3(class="mg-md") Регистрация
					div(class="form-group")
						label Name
						input(id="name4" class="form-control" required)
					div(class="form-group")
						label Email
						input(id="email4" class="form-control" type="email" required)
					button(class="bloc-button btn btn-d btn-lg btn-block" type="submit") Начать бесплатно
