//
mixin ErrorHandler(msg)
	case msg
		when 500
			div(class="alert alert-danger")
				strong Внутренняя ошибка сервера( Попробуйте позже
			//p Server Error. Report about this bug
		when 11000
			div(class="alert alert-danger")
				strong Пользователь с таким Email-ом уже существует( 
				br
				p Используйте форму 
					a(href="resetPassword") восстановления пароля
			//p User exists( Try another login
		when 100
			div(class="alert alert-danger")
				strong Некорректные данные. Повторите ввод данных
			p Invalid data
		default
			div(class="alert alert-danger")
				strong Внутренняя ошибка сервера( Попробуйте позже
			p Not Error, but no Success... it's strange... report about this error
			p!= msg
			p!= JSON.stringify(msg)
		
mixin drawAlerts()
	div(class="alert alert-success" id="validOK" style="display:none;")
		strong Данные корректны!
	div(class="alert alert-warning" style="display:none;" id="typeData1")
		//strong На этот email придёт письмо с вашим логином и паролем
		//br
		//strong Допустимая длина пароля от 6 до 35 символов
	div(class="alert alert-danger" id="invalid" style="display:none;")
		strong Длина логина не более 25 символов

mixin registerForm()
	form(id="form-4" action="/Register" method="post" autocomplete="on")
		h3(class="mg-md white text-center" id="registerForm") Регистрация
		h5(class="mg-md white text-center")
			a(href="/Login") войти
		div(class="form-group")
			label(class="white") Email
			div(class="inner-addon left-addon")
				i(class="glyphicon glyphicon-remove" style="display:none;")
				i(class="glyphicon glyphicon-envelope" style="")
				i(class="glyphicon glyphicon-ok" style="display:none;")
				//<input type="text" class="form-control" placeholder="Username" />
				input(id="email" class="form-control" type="email" name="email" placeholder="email" required)
		div(class="form-group")
			label(class="white") Пароль (минимум 6 символов)
			//label(class="white") Пароль (длина пароля от 6 до 35 символов)
			div(class="inner-addon left-addon")
				i(class="glyphicon glyphicon-remove" style="display:none;")
				i(class="glyphicon glyphicon-lock" style="")
				i(class="glyphicon glyphicon-ok" style="display:none;")
				input(id="password" class="form-control" type="password" name="password" placeholder="*******" required)
			
		//a(href="login") Я уже регистрировался!
		//br
		+drawAlerts()
		//br
		button(class="btn btn-lg btn-success btn-std" id="register" type="submit") Начать бесплатно
		include vk-auth
		+loadVKauth()

//script(src="third_party/validator.min.js")
link(rel="stylesheet" id="ppstyle" type="text/css" href="./css/register.css")


//div(class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-15")
	div(class="container bloc-lg")
		div(class="row")
div(class="col-sm-12")
	if msg
		+ErrorHandler(msg)

	+registerForm()

//script(src="interactiveInput.js")
