//p!= 'PARTITION ADDED'
if (session.login && session.login.length>0)
	//- var login = "#{session.login}";
	//- console.log(login);
	li
		a(id="money" class="ltc-brandeis-blue" href="profile") #{session.login}
	//p!= 'Hello, '	a(href = "Profile") #{session.login}	//#money
	li
		a(class="ltc-brandeis-blue" href = "Logout") Выход
else
	li
		a(href = "Login" class="ltc-brandeis-blue") Вход

