//
div(class="container col-lg-12")
	#categories
	script getCategories();

div(class="container col-lg-12 offset-bg")
	//div(class="row")
	center
		a(class="btn btn-primary btn-lg btn-large" href="/Categories") Все темы
