//

mixin loadVKauth(inviter, reg)
	script(type="text/javascript" src="//vk.com/js/api/openapi.js?121")
	script(src="vk-auth.js")
	div(id="vk_auth")
	div(id="login_button" onclick="VK.Auth.login(authInfo);")
		a(id="vk-url" class="btn btn-lg btn-primary btn-std" style="width:100%" href="http://online-tournaments.org/vk-auth")
			if reg
				span(class="fa fa-vk")
				|    Играть
			else
				span(class="fa fa-vk")
				|    Войти через VK
	script var inviter = "#{inviter}";
	script.
		if (document.location.hostname == "localhost") {
			setTimeout(function() {
				$("#vk-url").attr("href", "http://localhost/vk-auth");
				/*if (inviter)
					$("#vk-url").attr("href", "http://localhost/vk-auth/"+inviter);
				else {
					$("#vk-url").attr("href", "http://localhost/vk-auth");
				}*/
			}, 300);
		}
